<!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
<section>
  <div class="container all">
    <div class=" gy-10 gy-sm-13 gx-lg-3 align-items-center">
      <div class="col-12">
        <h3 class="font72 weight700 secondary">Ready to get started? <br> <span class="primary">Create an account or get in touch.</span> </h3>
      </div>
    </div><br>
 
    <div class="d-flex justify-content-center align-items-center justify-content-lg-start" data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
      <span> <a [routerLink]="['/auth/signup']" class="btn primary-bg text-white weight600 border-radius py-3 px-lg-4 px-3 scrollto d-lg-flex">Create an account</a> </span>
      <span class="mx-4"><a [routerLink]="['/company/sales']" class="mx-1 primary fs-18" style="font-weight: 700" href="">Contact Sales <span class=" px-2 py-1 d-none d-md-inline"> <fa-icon [icon]="arrow"></fa-icon></span></a>          </span>
    </div>
  </div> <br><br><br><br><br>
 </section>  