<main class="wrapper background bg-white">

    <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
    <section class="bg-soft-primary py-15 hero-style">
        <div class="container all pt-10 pt-md-5  pt-lg-15">
            <div class="row gx-lg-0 gx-xl-8 gy-10 gy-md-13 gy-lg-0 mb-7 align-items-center justify-content-between">
                <div class="col-md-11 col-lg-4 position-relative order-lg-2" data-cue="zoomIn">
                  <div class="shape rounded blue-bg rellax d-md-block" data-rellax-speed="0" style="bottom: -1rem; right: -0.4rem; width: 95%; height: 95%;"></div>
                  <figure class="rounded"><img class="w-100" src="./assets/img/photos/about-hero.png" alt="" /></figure>
                </div>

                <div class="col-lg-7 mt-lg-13" data-cues="slideInDown" data-group="page-title" data-delay="600">
                <h2 class="font24 weight700 text-uppercase mb-3 px-3 primary blue-line" >ABOUT US</h2>
                  <h1 class="font72 weight700 dark mb-3">Cross Switch Ghana</h1>
                  <div class="col-lg-10">

                      <p class="secondary font18 weight400 lh-sm mb-7 px-md-2 px-lg-0">Cross Switch Ghana LTD, formerly known as Alias Solutions Limited, is a payment service provider offering merchants and businesses multiple channels to accept and process payments from customers. In addition to our core billing and payments products, we have developed custom core and middleware infrastructure that enable financial service providers to provide digital financial products and services to previously excluded groups. <br> <br>

                        Cross Switch Ghana LTD is an entiity of Cross Switch International S.A.R.L, a global financial network, with a robust payment platform powering international inbound and outbound payments for its entities across Africa. </p>
                      <div class="row justify-content-between align-items-center px-md-3 px-lg-0 mt-lg-5" data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
                            <div class="col-md-4 col-6">
                              <h3 class="counter secondary weight600 font48">40+</h3>
                              <p class="font18 weight400 dark">Integrations</p>
                            </div>

                            <div class="col-md-4 col-6 counter-border">
                              <h3 class="counter secondary weight600 font48">600%</h3>
                              <p class="font18 weight400 secondary">Return on investment</p>
                            </div>

                            <div class="col-md-4 col-6 counter-border">
                              <h3 class="counter secondary weight600 font48">500+</h3>
                              <p class="font18 weight400 secondary">Global merchants</p>
                            </div>

                      </div>
                  </div>
                </div>
              </div>
        </div>
    </section>


    <!-- """""""""""""""""""""""" OUR VALUE """""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
    <section class="wrapper mt-5">
        <div class="container all pt-5">
            <div class="mb-15">
              <h2 class="font24 weight700 text-uppercase mb-3 px-3 primary blue-line" >OUR VALUES</h2>
              <h1 class="font40 weight700 secondary mb-5">Cross Switch Ghana</h1>
          </div>
          <div class="row gx-md-8 gy-8 mb-14 mb-md-18">
            <div class="col-md-6 col-lg-4">
                <div class="col-lg-10">
                    <div class=" mb-4 icons"> <img style="width: 50px" src="./assets/img/product-icons/circle.png" alt=""> </div>
                  <h4 class="font32  mb-3 primary weight700">Insist on High Standards</h4>
                  <p class="mb-3 weight400 secondary font18">Cross Switch helps many of the largest corporate and government organizations So our support is always ready to help</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="col-lg-10">
                <div class="mb-4 icons"> <img style="width: 50px" src="./assets/img/product-icons/star.png" alt=""> </div>
              <h4 class="font32  mb-3 primary weight700">Pursue Growth and Innovation</h4>
              <p class="mb-3 secondary weight400 font18">Cross Switch helps many of the largest corporate and government organizations So our support is always ready to help</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="col-lg-10">
                <div class="mb-4 icons"> <img style="width: 50px" src="./assets/img/product-icons/social.png" alt=""> </div>
              <h4 class="font32  mb-3 primary weight700">Social Impact Driven</h4>
              <p class="mb-3 font18 secondary weight400">Widening access to banking, payments, savings, credit, pensions and insurance</p>
              </div>
            </div>
          </div>
        </div>
      </section>


    <!-- """""""""""""""""""""""""""""""""""""""""""" TEAM MEMBERS """""""""""""""""""""""""""""""""""""""" -->
  <section id="menu" class="menu " >
    <div class="" >
        <div class="container all py-5">
            <h2 class="font24 text-uppercase weight700 mb-3 px-3 primary blue-line" >OUR LEADERSHIP</h2>
            <h1 class="font40 secondary weight700 mb-5">Cross Switch Ghana</h1>
        </div>
        <div  style="background-image: url(./assets/img/photos/gray.png)">
          <div class="container">

            <div uk-filter="target: .js-filter" class="pt-4">
                <div class=" mb-4 pt-5">
                    <ul class="uk-subnav uk-subnav-pill mx-0">
                        <li  class="uk-active filter-button mb-3" uk-filter-control="[data-color='board']"><a class="filter-link" href="#">BOARD</a></li>
                        <li  class=" filter-button mx-4 mb-3" uk-filter-control="[data-color='management']"><a class="filter-link" href="#">MANAGEMENT</a></li>
                        <li  class=" filter-button mb-3" uk-filter-control="[data-color='team']"><a class="filter-link" href="#">TEAM</a></li>
                    </ul>
                </div><br>
            
              
                <div class="js-filter pb-5">
                  <div data-color="board">
                      <div class="row flex-lg-nowrap overflow-scroll team">
                          <div class="col-lg-3 col-6 pb-3">
                              <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                                <div class="">
                                  <img class=" w-100 mb-3" src="./assets/img/team/tim.jpg" alt="" />
                                  <h4 class=" mb-3 team-font weight700 secondary">Tim Davis</h4>
                                  <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                    <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Board Member</span>
                                  <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                                </div>
                                </div>
                              </div>
                          </div>
                          <div class="col-lg-3 col-6 pb-3">
                              <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                                <div class="">
                                  <img class=" w-100 mb-3" src="./assets/img/team/saqib.jpg" alt="" />
                                  <h4 class=" mb-3 team-font weight700 secondary">Saqib Nazir</h4>
                                  <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                    <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Chief Executive Officer</span>
                                  <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                                </div>
                                </div>
                              </div>
                          </div>
                          <div class="col-lg-3 col-6 pb-3">
                              <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                                <div class="">
                                  <img class=" w-100 mb-3" src="./assets/img/team/godfred.jpg" alt="" />
                                  <h4 class=" mb-3 team-font weight700 secondary">Godfred Davidson</h4>
                                  <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                    <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Director, CTO</span>
                                  <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                                </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>           

                  <div data-color="management">
                    <div class="row flex-lg-nowrap overflow-scroll team">
                        <div class="col-lg-3 col-6 pb-3">
                            <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                              <div class="">
                                <img class=" w-100 mb-3" src="./assets/img/team/saqib.png" alt="" />
                                <h4 class=" mb-3 team-font weight700 secondary">Saqib Nazir</h4>
                                <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                  <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Chief Executive Officer</span>
                                <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                              </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 pb-3">
                            <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                              <div class="">
                                <img class=" w-100 mb-3" src="./assets/img/team/godfred.png" alt="" />
                                <h4 class=" mb-3 team-font weight700 secondary">Godfred Davidson</h4>
                                <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                  <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2"> CTO</span>
                                <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                              </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 pb-3">
                            <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                              <div class="">
                                <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                                <h4 class=" mb-3 team-font weight700 secondary">Kwabena Owusu-Asiedu</h4>
                                <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                  <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2"> Head of Sales</span>
                                <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                              </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 pb-3">
                            <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                              <div class="">
                                <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                                <h4 class=" mb-3 team-font weight700 secondary">Recheal Oware</h4>
                                <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                  <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Product Development Manager</span>
                                <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                              </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-color="team">
                  <div class="row flex-lg-nowrap overflow-scroll team">
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Kwadwo Asante</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Head of Tech</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Harmony Alabi</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2"> Senior Software Engineer</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Frederick Martey</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Business Development Executive</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Fred Maclean</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Software Engineer</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Mushrafat Abdulrahman</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Software Engineer</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Sarah Nyaneba Nkrumah</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Business Development Unit</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Allahondoum M. Ngaoudande</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Consultant</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Ramatu Angeley Mensah</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Software Engineer</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Isaac Mensah Forson</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Software Engineer</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Hakeem Adjei</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Product Designer</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Dennis Sam</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Software Engineer</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Agnes Naa Dedei Armah</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Front Desk Person</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Anita S. Agbotaheboah	</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Sales Executive</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Annie Opokua Yeboah	</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Human Resource</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">David Nii Annang</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Business Development Executive</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Felicia Agbia</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Program Assistant</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Helena Appiah</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Sales Executive</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-6 pb-3">
                          <div class="card h-100 card-block p-lg-4 p-2 bg-light">
                            <div class="">
                              <img class=" w-100 mb-3" src="./assets/img/team/avatar.png" alt="" />
                              <h4 class=" mb-3 team-font weight700 secondary">Hakeem Adjei</h4>
                              <div class="d-flex justify-content-lg-between align-items-lg-center align-items-start flex-lg-row flex-column">
                                <span class=" secondary team-description col-lg-10 mb-lg-0 mb-2">Product Designer</span>
                              <img style="width: 30px"src="./assets/img/product-icons/linkedin.png" alt="">                       
                            </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
                </div><br>
            
            </div>  
        </div>
          </div>
    </div>
 </section>

  <!-- """"""""""""""""""""""""""""""""""""""" What We Provide """""""""""""""""""""""""""""""""""" -->
  <section class="">
    <div class=" container py-14 py-md-5">
        <div class="footer-style py-10">
            <div class="row">
                <div class="p-5">
                    <h2 class="font24 weight600 text-uppercase mb-3 px-3 primary violet-line">WHAT WE PROVIDE</h2>
                    <h3 class="font40 text-white">Our products are built to power merchants </h3>
                </div>
            </div>

           <app-products></app-products>
        </div>
    </div>
</section>

      <!-- """""""""""""""""""""""""""""" COME WORK WITH US """"""""""""""""""""""""""""-->
  <section class="">
    <div class="container all py-14">
        <div class=" row gx-lg-8 gx-xl-12 gy-10 mb-10 mb-md-12">
            <div class="col-lg-8 order-lg-2 order-1">
              <div class="row gx-md-5 gy-5 align-items-center">
                <div class="col-md-6">
                  <div class="row gx-md-5 gy-5">
                    <div class="col-md-12" >
                      <figure class="rounded"><img class="w-100" src="./assets/img/photos/group3.png" alt=""></figure>
                    </div>
                    
                    <div class="col-md-12" >
                      <figure class="rounded"><img class="w-100" src="./assets/img/photos/group2.png" alt=""></figure>
                    </div>
                    
                  </div>
                 
                </div>
                
                <div class="col-md-6" >
                  <figure class="rounded"><img class="w-100" src="./assets/img/photos/group1.png"  alt=""></figure>
                </div>
                
              </div>
              
            </div>
           
            <div class="col-lg-4">
                <div class="row">
                    <div class=" py-lg-10 p-5">
                        <h2 class="font24 text-uppercase mb-3 px-3 weight700 primary violet-line">COME WORK WITH US</h2>
                        <h3 class="font40 secondary weight700">Cross Switch Ghana </h3>
                        <span><a [routerLink]="['../careers']" class="font18 focal-red weight600" >View openings <span class=" px-2 py-1 dark"> <fa-icon [icon]="arrow"></fa-icon></span></a></span>
                    </div>
                </div>
            </div>
            
          </div>
    </div>
  </section> 

  <!-- ######################################## PARTNERS ################################################## -->
   <!-- ######################################## PARTNERS ################################################## -->
   <section class="hero-style my-5">
    <div class="container all">
        <div class="row justify-content-center gx-lg-8 gx-xl-12 gy-10 gy-lg-0 py-10">
            <div class=" mt-lg-2">
                <h3 class="text-center secondary mb-5 pe-xxl-5 weight700 font40 ">Our Trusted Local and Global Partners</h3>
            </div>
            <div class="col-lg-9 text-center">
                <div class="row align-items-center row-cols-2 row-cols-md-3 row-cols-lg-4">
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/c1.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/c2.png" alt="" />
                    </div>
                    <div class="col">
                      <img class="mb-5 brand" src="./assets/img/brands/Jumia1.png" alt="" />
                  </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/jumia.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/keystone.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/c4.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/c5.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/c6.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/Stanbic-Bank.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/UL.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/KPMG.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/forms.png" alt="" />
                    </div>
                    <div class="col">
                        <img class=" brand" src="./assets/img/brands/bigpay.png" alt="" />
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section> <br><br> <br><br>
 
    <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
 <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
 <app-create-account></app-create-account>

</main>
