.blue-bg{
    background-color: #c0e3fd;
}

.uk-active{
    background-color: #0C1248;
    color: #fff;
}

.filter-btn{
    border: 2px solid #043752;
}

.team::-webkit-scrollbar {
    display: none;
  }
  
  .team {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

 .brand{
    width: 120px;
 }