<main class="wrapper background" id="wrapper" >

    <!-- """"""""""""""""""""""""""""""""""""""" FORMS """""""""""""""""""""""""""""""""""" -->
    <section id="forms">
        <div class="container all">
            <div class=" row justify-content-lg-center">

                <div class="col-lg-5 mt-lg-2 mb-lg-0 mb-4 p-lg-5 px3 py-5 border form-container">
                    <div class="mb-5">
                        <h4 class="font40 weight700 dark">Forgot Password</h4>
                    </div>
                    <form role="form" method="Post" #resetForm="ngForm" (ngSubmit)="Reset()">
                        
                            <div class="form-select-wrapper mb-5">
                                 <input type="email" class="form-control p-4" placeholder="example@gmail.com" autofocus [(ngModel)]="get.email" name="email" required>
                            </div>

                            <div class="form-select-wrapper mb-5">
                                 <a [routerLink]="['../login']" class="dark weight600 levy-font text-decoration-underline">Remember your login password ?</a>
                           </div> 

                        <button [disabled]="!resetForm.valid" class="btn primary-bg col-12 text-white weight600 rounded py-lg-4 py-3">Submit</button>
                    </form>
                </div> <br><br><br><br><br><br>
            </div>
        </div>
    </section>

</main>