<main class="wrapper background bg-light">

    <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
    <section class="bg-soft-primary aslan-hero">
        <div class="container all pt-5">
            <div class="mb-5 py-4 ">

                <div class="col-lg-10 col-md-12 order-2 order-lg-0">
                    <h2 class="font24 weight700 text-uppercase mb-3 px-3 dark blue-line">FINANCIAL SOLUTION</h2>
                    <h1 class="font80 secondary weight700 mb-5 pt-4" style="-webkit-text-stroke-width: 1px;"> Access a
                        broader <span class="primary">financial <br class="d-none d-lg-inline d-md-inline">
                            market</span> with ASLAN </h1>
                    <h2 class="mb-5 pb-lg-4 pb-1 text-start secondary font18 lh-sm mb-7 px-md-10 px-lg-0 col-lg-7">ASLAN
                        is an innovative solution connecting savings groups and individuals to digital financial
                        opportunities </h2>

                    <div class="py-0 py-lg-5 py-md-2 mt-0 mt-lg-5 d-flex align-items-center justify-content-start"
                        data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
                        <span> <a [routerLink]="['/company/sales']"
                                class="btn primary-bg text-white weight600 border-radius py-3 px-lg-4 levy-font scrollto d-lg-flex">Request
                                a demo</a> </span>
                        <span class="mx-4"><a class="mx-1 dark font18" style="font-weight: 700">See Features <span
                                    class=" px-2 py-1 d-none d-md-inline">
                                    <fa-icon [icon]="arrow"></fa-icon>
                                </span></a> </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <video class="w-100 h-75" controls poster="./assets/img/photos/video-banner.png">
            <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm">
            <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
        </video>
    </div>
    <br><br><br><br>


    <!-- """""""""""""""""""""""""""""" Our solution offers """"""""""""""""""""""""""""-->
    <section class="container footer-style" style="margin-top: 150px">
        <div class="all">
            <div class="row pt-5">
                <div class="px-lg-4 px-md-4 px-2">
                    <div class=" mb-4">
                        <div class="d-flex flex-row align-items-center">
                            <div>
                                <span class=""><img style="width: 50px" src="./assets/img/product-icons/aslan.png"
                                        alt=""></span>
                            </div>
                            <div class=" text-wrap mx-3">
                                <h6 class="mb-0 font24 blue-pastel weight700"> ASLAN</h6>
                            </div>
                        </div>
                    </div>

                    <h3 class="font72 mb-9 text-white weight700">Our solution offers</h3>
                </div>
            </div> <br><br><br>
            <div class="px-2" >
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                        <div class="box p-5 card border-0 h-100" >
                            <p class=" pt-5 px-2 weight700 font32 secondary h-50">Offline and online flexibility</p>
                            <p class="py-5 font18 weight400 secondary">With USSD and mobile app capabilities, ASLAN is
                                built to operate with or without internet </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                        <div class="box p-5 card border-0 h-100" >
                            <p class=" pt-5 px-2 weight700 font32 secondary h-50">Open banking API’s</p>
                            <p class="pb-5 pt-4 font18 weight400 secondary">Payment flows for any use case which can be
                                easily integrated with any software application</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                        <div class="box p-5 card border-0 h-100" >
                            <p class=" pt-5 weight700 font32 secondary h-50">Embedded services and products</p>
                            <p class="py-5 font18 weight400 secondary">Access a seamless mechanism to cross-sell
                                embedded financial products to your customers or vendors </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                        <div class="box p-5 card border-0 h-100" >
                            <p class=" pt-5 weight700 font32 secondary h-50">Digital onboarding for savings groups</p>
                            <p class="py-5 font18 weight400 secondary">ASLAN makes it easy for savings groups to track
                                their finances, build a credit history and increase transparency</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                        <div class="box p-5 card border-0 h-100" >
                            <p class=" pt-5 weight700 font32 secondary h-50">Industry regulatory compliance</p>
                            <p class="py-5 font18 weight400 secondary">Built with security and data protection in mind,
                                ASLAN’s infrasturcture meets industry standards and compliance</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                        <div class="box p-5 card border-0 h-100" >
                            <p class=" pt-5 weight700 font32 secondary h-50">Complete self-service digital banking</p>
                            <p class="py-5 font18 weight400 secondary">ASLAN allows FSPs to digitize their mode of
                                operations. Collection of data and automation of group share outs</p>
                        </div>
                    </div>
                </div> <br><br>
            </div>
        </div>
    </section><br><br> <br><br><br><br>

    <!-- """"""""""""""""""""""""""""""""""""""""  OVERVIEW """""""""""""""""""""""""""""""""" -->
    <section class="">
        <div class=" container py-md-5">
            <h2 class="font24 weight700 text-uppercase mb-3 px-3 dark blue-line">OVERVIEW</h2>
            <h3 class="font72 weight700 dark mb-4 mb-lg-3">Understanding the way <br> ASLAN works</h3>

            <div class="mb-5">
                <p class="dark mb-3 mb-lg-3 weight400 font18">Many Financial Services Providers (FSPs) face challenges
                    in adapting to digital evolution; evolving customer behaviours; and maintaining a profitable growth.
                </p>
                <p class="dark mb-3 mb-lg-0 weight400 font18"> ASLAN is here to accelerate transactional efficiency for
                    financial institutions and businesses through mobile money. We focus on customer experience and you
                    enjoy new capabilities for growth!</p>
            </div>
        </div>
    </section>


    <!-- """""""""""""""""""""""""""""""""""""" DIAGRAM """""""""""""""""""""""""""""""""" -->
    <section style="background-image:url(/assets/img/photos/aslan-pattern.png)">

        <div class="container">
            <div class="text-center">
                <img class="w-lg-50 w-75" src="./assets/img/photos/aslan-diagram.png" alt="">
            </div><br><br><br>

            <p class="dark mb-3 mb-lg-0 weight400 font24 col-lg-8 bg-white p-4">ASLAN is able to integrate and
                orchestrate enterprise applications while also automating business processes. This minimizes loss of
                information and down time, even in the development process.
            </p>
        </div>
    </section><br><br><br><br><br><br>



    <!-- """"""""""""""""""""""""""""""""""""""" Our reach """""""""""""""""""""""""""""""""""" -->
    <section>
        <div class="" data-aos="">
        <!-- <div class="" > -->
            <div>
                <div class="container">
                    <div uk-filter="target: .js-filter">
                        <div class=" mb-4">
                            <h1 class="font72 secondary weight700 mb-3">ASLAN is built for:</h1>
                            <ul class="uk-subnav uk-subnav-pill mx-0">
                                <li  class="uk-active filter-button mb-3" uk-filter-control="[data-color='white']"><a class="filter-link" href="#">BANKING</a></li>
                                <li  class=" filter-button mx-4 mb-3" uk-filter-control="[data-color='blue']"><a class="filter-link" href="#">PENSION</a></li>
                                <li  class=" filter-button mb-3" uk-filter-control="[data-color='black']"><a class="filter-link" href="#">INSURANCE</a></li>
                            </ul>
                        </div><br><br>
                    
                        <ul class="js-filter uk-child-width-1" uk-grid>
                            <span data-color="white">
                                <div class="">
                                    <div class="row menu-container" style="padding-bottom: 100px">
                                        <div class=" menu-item filter-banking mb-3">
                                            <div class="row gy-10 gy-sm-13 gx-lg-3 align-items-center justify-content-between">
                                                <div class="col-md-12 col-lg-5 order-lg-2 position-relative">
                                                    <figure class="rounded"><img class="w-100" src="assets/img/photos/man-in-suit.png"
                                                            alt=""></figure>
                                                </div>
                
                                                <div class="col-lg-7">
                                                    <h3 class="font40 weight700 mb-5 secondary col-lg-10 col-md-12">Tailored and
                                                        scalable product offerings to meet needs of FSPs, VSLAs and individual customers
                                                    </h3>
                                                    <div class="accordion accordion-wrapper" id="accordionExample">
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Disbursements</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Check Balance</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Collections</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Auto debit functionality</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Access control to platforms</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Digital micro-transactions for savings groups</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Field agents applications (For onboarding customers
                                                                and collections)</a>
                                                        </div>
                
                                                        <div>
                                                            <p class="mb-3 pb-2"><a href="" class="d-text"> <span>
                                                                        <img style="width: 40px"
                                                                            src="assets/img/product-icons/Check.png" alt="">
                                                                    </span> 5+ payment options </a></p>
                                                            <div class="d-md-flex mx-lg-0 mx-4 px-lg-5 px-4">
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    Mobile money </span>
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    Bank Account </span>
                                                            </div>
                                                            <div class="d-md-flex mx-lg-0 mx-4 px-lg-5 px-4">
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    SMS </span>
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    USSD </span>
                                                            </div>
                                                            <div class="d-md-flex mx-lg-0 mx-4 px-lg-5 px-4">
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    Point of Sale (POS) </span>
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    Card </span>
                                                            </div>
                                                        </div><br>
                
                                                        <div> <span> <a [routerLink]="['/company/sales']"
                                                                    class="btn primary-bg text-white weight600 border-radius py-3 px-4 scrollto w-auto">Request
                                                                    a demo</a> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>

                            <span data-color="blue">
                                <div class="">
                                    <div class="row menu-container" style="padding-bottom: 100px">
                                        <div class=" menu-item filter-banking mb-3">
                                            <div class="row gy-10 gy-sm-13 gx-lg-3 align-items-center justify-content-between">
                                                <div class="col-md-12 col-lg-5 order-lg-2 position-relative">
                                                    <figure class="rounded"><img class="w-100" src="assets/img/photos/group-of-ladies.png"
                                                            alt=""></figure>
                                                </div>
                
                                                <div class="col-lg-7">
                                                    <h3 class="font40 weight700 mb-5 secondary col-lg-10 col-md-12">Designed for pension trustees and fund managers to track data and manage all operations
                                                    </h3>
                                                    <div class="accordion accordion-wrapper" id="accordionExample">
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Facilitates faster withdrawal times</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Check Balance</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Collections</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Auto debit functionality</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Access control to platforms</a>
                                                        </div>
                
                                                        <div>
                                                            <p class="mb-3 pb-2"><a href="" class="d-text"> <span>
                                                                        <img style="width: 40px"
                                                                            src="assets/img/product-icons/Check.png" alt="">
                                                                    </span> 5+ payment options </a></p>
                                                            <div class="d-md-flex mx-lg-0 mx-4 px-lg-5 px-4">
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    Mobile money </span>
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    Bank Account </span>
                                                            </div>
                                                            <div class="d-md-flex mx-lg-0 mx-4 px-lg-5 px-4">
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    SMS </span>
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    USSD </span>
                                                            </div>
                                                            <div class="d-md-flex mx-lg-0 mx-4 px-lg-5 px-4">
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    Point of Sale (POS) </span>
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    Card </span>
                                                            </div>
                                                        </div><br>
                
                                                        <div> <span> <a [routerLink]="['/company/sales']"
                                                                    class="btn primary-bg text-white weight600 border-radius py-3 px-4 scrollto w-auto">Request
                                                                    a demo</a> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>

                            <span data-color="black">
                                <div class="">
                                    <div class="row menu-container" style="padding-bottom: 100px">
                                        <div class=" menu-item filter-banking mb-3">
                                            <div class="row gy-10 gy-sm-13 gx-lg-3 align-items-center justify-content-between">
                                                <div class="col-md-12 col-lg-5 order-lg-2 position-relative">
                                                    <figure class="rounded"><img class="w-100" src="assets/img/photos/man-teaching.png"
                                                            alt=""></figure>
                                                </div>
                
                                                <div class="col-lg-7">
                                                    <h3 class="font40 weight700 mb-5 secondary col-lg-10 col-md-12">
                                                        Secured and valuable features for premium collections with digital and assisted channels
                                                    </h3>
                                                    <div class="accordion accordion-wrapper" id="accordionExample">
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Facilitates faster withdrawal times</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Check Balance</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Collections</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Auto debit functionality</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Access control to platforms</a>
                                                        </div>
                                                        <div class="d-flex align-items-center pb-4">
                                                            <img style="width: 40px" src="assets/img/product-icons/Check.png" alt="">
                                                            <a class="d-text mx-2"> Embedded insurance products </a>
                                                        </div>
                
                                                        <div>
                                                            <p class="mb-3 pb-2"><a href="" class="d-text"> <span>
                                                                        <img style="width: 40px"
                                                                            src="assets/img/product-icons/Check.png" alt="">
                                                                    </span> 5+ payment options </a></p>
                                                            <div class="d-md-flex mx-lg-0 mx-4 px-lg-5 px-4">
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    Mobile money </span>
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    Bank Account </span>
                                                            </div>
                                                            <div class="d-md-flex mx-lg-0 mx-4 px-lg-5 px-4">
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    SMS </span>
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    USSD </span>
                                                            </div>
                                                            <div class="d-md-flex mx-lg-0 mx-4 px-lg-5 px-4">
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    Point of Sale (POS) </span>
                                                                <span class="d-lg-inline d-md-block d-block d-text dark col-lg-4 pb-4">
                                                                    Card </span>
                                                            </div>
                                                        </div><br>
                
                                                        <div> <span> <a [routerLink]="['/company/sales']"
                                                                    class="btn primary-bg text-white weight600 border-radius py-3 px-4 scrollto w-auto">Request
                                                                    a demo</a> </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </ul>
                    
                    </div>  
                </div>
            </div>
        </div>
    </section>

    <!-- """"""""""""""""""""""""""""""""""""""" Spotlight """""""""""""""""""""""""""""""""""" -->
    <section class="mb-5">
        <div class=" all pb-4 pb-md-5 px-md-5 mb-5">
            <div id="carouselExampleIndicators" class="carousel slide container" data-bs-ride="carousel">
                <h3 class="font72 weight700 primary mb-3">Spotlight </h3>
                <div class="carousel-indicators col-lg-9 mb-5">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="5000">
                    <!-- <img src="assets/img/photos/man-in-suit.png" class="d-block w-100" alt="..."> -->
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-12 col-lg-4 order-lg-2">
                            <figure class="rounded"><img class="w-100" src="assets/img/photos/lady.png" alt=""></figure>
                        </div>
                        <div class="col-lg-7 my-lg-5 py-lg-5 py-3">
                            <h3 class="font40 mb-5 weight700 secondary">“ Success of business today depends on 2 factors: Trust & Technology. Alias Solutions brings both for businessmen & companies. They make friendly atmosphere to result best in market. ”</h3>
                            <div class="mt-lg-5 my-lg-5 py-lg-5">
                                <h5 class="font24 secondary" style="font-weight: 500">Benjamin Afful-Eshun </h5>
                                <span class="font18 dark">CEO, Ahantaman Rural BanK</span>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="5000">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-8 col-lg-4 order-lg-2">
                            <figure class="rounded"><img class="w-100" src="assets/img/photos/guy2.png" alt=""></figure>
                        </div>
                        <div class="col-lg-7 my-lg-5 py-lg-5 py-3">
                            <h3 class="font40 mb-5 weight700 secondary">“ Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project individual.”</h3>
                            <div class="mt-lg-5 my-lg-5 py-lg-5">
                                <h5 class="font24 secondary" style="font-weight: 500">David Warner</h5>
                                <span class="font18 dark">Web Developer</span>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="5000">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-8 col-lg-4 order-lg-2">
                            <figure class="rounded"><img class="w-100" src="assets/img/photos/guy.png" alt=""></figure>
                        </div>
                        <div class="col-lg-7 my-lg-5 py-lg-5 py-3">
                            <h3 class="font40 mb-5 weight700 secondary">“ I had my own skepticism initially about local banking software based on previous experiences, but Alias changed my perception by their flexibility, prompt and professional customer approach to our requirement. ”</h3>
                            <div class="mt-lg-5 my-lg-5 py-lg-5">
                                <h5 class="font24 secondary" style="font-weight: 500">Gilbert Odamtey</h5>
                                <span class="font18 dark">CEO Leverage Micro finance </span>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>


    <!-- ######################################## PARTNERS ################################################## -->
    <section class="hero-style my-5">
        <div class="container all">
            <div class="row justify-content-center gx-lg-8 gx-xl-12 gy-10 gy-lg-0 py-2">
                <div class=" mt-lg-2">
                    <h3 class="text-center secondary mb-5 pe-xxl-5 font40 weight700">Partners</h3>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6">
                        <div class="col">
                            <img class="mb-5 brand" src="./assets/img/brands/c1.png" alt="" />
                        </div>
                        <div class="col">
                            <img class="mb-5 brand" src="./assets/img/brands/c2.png" alt="" />
                        </div>
                        <div class="col">
                            <img class="mb-5 brand" src="./assets/img/brands/c3.png" alt="" />
                        </div>
                        <div class="col">
                            <img class="mb-5 brand" src="./assets/img/brands/c4.png" alt="" />
                        </div>
                        <div class="col">
                            <img class="mb-5 brand" src="./assets/img/brands/c5.png" alt="" />
                        </div>
                        <div class="col">
                            <img class="mb-5 brand" src="./assets/img/brands/c6.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <br><br> <br><br>

    <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
    <app-create-account></app-create-account>

</main>