<main class="wrapper background bg-light">

    <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
    <section class="bg-soft-primary py-5 hero-style">
        <div class="container all " style="padding-top: 100px; padding-bottom: 50px;">
            <div class="row justify-content-center">
                <div class="col-lg-6 mx-auto">
                  <h3 class="font40 weight700 dark mb-4 px-lg-12 text-center">CHECKOUT DEMO</h3>
                  <h3 class="font24 weight400 dark mb-5 px-lg-5 text-center">The easiest way make a seamless checkout. <br class="d-none d-lg-inline d-md-inline"> Experience a live payment. </h3>
                    <select class="form-select mb-5 w-auto bg-transparent py-2 border-dark text-dark secondary mx-auto">
                      <option selected> GHANA</option>
                    </select>
                </div> <br>  <br>
                <!-- /column -->
              </div>

              <div class="d-flex justify-content-center">
                <div class="col-lg-6 p-lg-12 p-4 bg shadow-lg">
                    <form>
                        <div class="row p-lg-5 p-0">
                            <div class="form-group col-lg-6 mb-5">
                              <input type="text" class="form-control py-4"  placeholder="First Name *" autocomplete="off">
                            </div>
                            <div class="form-group col-lg-6 mb-5">
                              <input type="text" class="form-control py-4"  placeholder="Last Name *" autocomplete="off">
                            </div> 
                            <div class="form-group col-lg-12 mb-5">
                              <input type="email" class="form-control py-4"  placeholder="Email Address*" autocomplete="off">
                            </div> 
                            <div class="form-group col-lg-12 mb-5">
                              <input type="tel" class="form-control py-4"  placeholder="Phone Number *" autocomplete="off">
                            </div>
                            <div class="mb-4">
                                <button class="btn btn-block w-100 py-4 border-0  pay text-white">Pay GHS 250</button>
                            </div>
                           <div class="text-center">
                            <img style="width: 25px" class="mx-2" src="assets/img/product-icons/key.png" alt=""> <span class="font16 weight600 secondary">Secured by Cross</span><span class="primary font16 weight600"> Switch</span>
                           </div>
                        </div>
                      </form>
                    <!-- /form -->
                  </div>
              </div><br>
        </div>
    </section> <br><br><br><br>


    
   <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
   <app-create-account></app-create-account> 

</main>
