<!-- """""""""""""""""""""""""""""""""""""  Products Section """"""""""""""""""""""""""""""""""" -->

<div class="row mx-lg-0 mx-2 py-5">
    <div class="col-lg-4">
        <div class="px-lg-3 px-0">
            <h6 class="dropdown-header font12 fw-bold text-white mb-3">PAYMENT SERVICES</h6>
            <ul class="list-unstyled" uk-scrollspy="cls: uk-animation-fade; target: .clients; delay: 100;">

                <li class="mb-5 clients">
                    <a [routerLink]="['../collect-payment']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width: 60px"
                                            src="./assets/img/product-icons/Payment.png" alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 font16 light-blue" style="margin-bottom: 10px">
                                        Collect Payment</h6>
                                    <small class="mb-0 font12 light-red">Collect payment seamlessly and
                                        secured</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="mb-5 clients">
                    <a [routerLink]="['../transfer']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width: 60px"
                                            src="./assets/img/product-icons/transfer.png" alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 font16 light-blue" style="margin-bottom: 10px">
                                        Transfers (Payout)</h6>
                                    <small class="mb-0 font12 light-red">Make single or bulk transfers
                                        to
                                        accounts </small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="mb-5 clients">
                    <a [routerLink]="['../checkout']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width:  60px"
                                            src="./assets/img/product-icons/checkout.png" alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 font16 light-blue" style="margin-bottom: 10px">
                                        Checkout</h6>
                                    <small class="mb-0 font12 light-red">A robust payment ordering
                                        system</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="mb-5 clients">
                    <a [routerLink]="['../payment-links']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width:  60px"
                                            src="./assets/img/product-icons/payment-links.png"
                                            alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 fs16 light-blue" style="margin-bottom: 10px">Payment
                                        Links</h6>
                                    <small class="mb-0 fs12 light-red">Accept payment from anyone in the
                                        world</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="mb-5 clients">
                    <a [routerLink]="['../utilities']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width:  60px"
                                            src="./assets/img/product-icons/utilities.png" alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 font16 light-blue" style="margin-bottom: 10px">
                                        Utilities Payment</h6>
                                    <small class="mb-0 font12 light-red">Simple, fast and easy way to
                                        process bill payment</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="px-lg-3">
            <ul class="list-unstyled pt-lg-5" uk-scrollspy="cls: uk-animation-fade; target: .clients; delay: 100;">

                <li class="mb-5 clients">
                    <a [routerLink]="['../invoicing']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width: 60px"
                                            src="./assets/img/product-icons/invoice.png" alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 font16 light-blue" style="margin-bottom: 10px">
                                        Invoicing</h6>
                                    <small class="mb-0 font12 light-red">Create beautiful online
                                        invoices
                                        for customers</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="mb-5 clients">
                    <a [routerLink]="['../request-to-pay']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width: 60px"
                                            src="./assets/img/product-icons/request.png" alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 font16 light-blue" style="margin-bottom: 10px">
                                        Request
                                        to Pay</h6>
                                    <small class="mb-0 font12 light-red"> Handle payment in new ways
                                    </small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="mb-5 clients">
                    <a [routerLink]="['../bulk-pay']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width: 60px"
                                            src="./assets/img/product-icons/bulk-pay.png" alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 font16 light-blue" style="margin-bottom: 10px">Bulk
                                        Pay</h6>
                                    <small class="mb-0 font12 light-red">Generate and distribute payment
                                        in bulk</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="mb-5 clients">
                    <a [routerLink]="['../ussd']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width: 60px"
                                            src="./assets/img/product-icons/ussd.png" alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 font16 light-blue" style="margin-bottom: 10px">USSD
                                    </h6>
                                    <small class="mb-0 font12 light-red">Access payment on USSD</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="mb-5 clients">
                    <a [routerLink]="['../sms']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width: 60px"
                                            src="./assets/img/product-icons/sms.png" alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 fs16 light-blue" style="margin-bottom: 10px">SMS
                                    </h6>
                                    <small class="mb-0 fs12 light-red">Secure payment through
                                        sms</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="px-lg-3">
            <h6 class="dropdown-header font12 fw-bold text-white mb-3">FINANCIAL SOLUTIONS</h6>
            <ul class="list-unstyled" uk-scrollspy="cls: uk-animation-fade; target: .clients; delay: 100;">

                <li class="mb-5 clients">
                    <a [routerLink]="['../pension']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width: 60px"
                                            src="./assets/img/product-icons/pension.png" alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 font16 light-blue" style="margin-bottom: 10px">
                                        Pension
                                        Management</h6>
                                    <small class="mb-0 font12 light-red">Access our premium pension
                                        solution</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="mb-5 clients">
                    <a [routerLink]="['../banking']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width: 60px"
                                            src="./assets/img/product-icons/core-banking.png"
                                            alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 font16 light-blue" style="margin-bottom: 10px">Core
                                        Banking</h6>
                                    <small class="mb-0 font12 light-red">Full access to banking </small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="mb-5 clients">
                    <a [routerLink]="['../ASLAN']">
                        <div class="">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                    <span class="icon btn btn-circle btn-md"><img style="width: 60px"
                                            src="./assets/img/product-icons/aslan.png" alt=""></span>
                                </div>
                                <div class=" text-wrap">
                                    <h6 class="mb-0 font16 light-blue" style="margin-bottom: 10px">ASLAN
                                    </h6>
                                    <small class="mb-0 font12 light-red">Our highly scalable SAAS
                                        product</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>


                <div class=" text-wrap">
                    <h6 class="dropdown-header font12 fw-bold text-white mb-3 mx-2">CAN’T FIND WHAT YOU
                        LOOKING FOR</h6>
                    <span><a [routerLink]="['/company/sales']" class="font16 pale-red mx-4">Contact Sales <span class=" px-2 py-1">
                                <fa-icon [icon]="arrow"></fa-icon>
                            </span></a></span>
                </div>
            </ul>
        </div>
    </div>
</div>