<main class="wrapper background">

    <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
    <section class="bg-soft-primary py-5 hero-style">
        <div class="container all" style="padding-top: 100px; padding-bottom: 100px;">
            <div class="col-lg-9 col-xl-8 col-xxl-7 mx-2">
                <h2 class="font24 weight700 text-uppercase mb-5 px-3 primary violet-line">Contact Us</h2>
            </div>
            <div class="d-flex gx-lg-8 gx-xl-12 gy-10 gy-lg-0 align-items-center justify-content-between mx-1">
                <h3 class="font72 weight700 dark">Find Us</h3>
                <button class="btn btn-outline-dark px-4 py-3"> <img style="width: 20px" src="assets/img/product-icons/ghana.png" alt=""> <span class="mx-2">GHANA</span>   </button>
                <!-- <select class="form-select mb-3 w-auto py-2 bg-transparent  border-box select secondary">
                    <option selected> GHANA</option>
                </select> -->
            </div> <br><br>
            <hr><br>

            <div class="row gy-6 gy-lg-0 justify-content-between pt-5">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-2">
                    <div class="widget">
                        <div class="widget-title text-white mb-4"> <img style="width: 64px"
                                src="./assets/img/product-icons/address.png" alt=""> </div>
                        <h4 class="widget-title primary weight700 mb-3 font32"> Address</h4>
                        <p href="#" class="f secondary font18">14 Nyaniba CR- OSU Nyaniba Estate OSU La Crescent St,
                            Accra Ghana </p>
                        <!-- <p class="mb-0 mt-3 fs-16 fw-bold primary"><a>Visit our office <span
                                    class="border px-4 mx-2 py-1" style="border-radius: 16px;">
                                    <fa-icon [icon]="arrow"></fa-icon>
                                </span> </a></p> -->
                                <a class="mb-0 mt-8 fs-16 fw-bold primary" (click)="visit()" > Visit our office <span
                                    class="border px-4 mx-2 py-1" style="border-radius: 16px;">
                                    <fa-icon [icon]="arrow"></fa-icon>
                                </span></a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 mb-5 mb-lg-2">
                    <div class="widget">
                        <div class="widget-title text-white mb-4"> <img style="width: 64px"
                                src="./assets/img/product-icons/call.png" alt=""> </div>
                        <h4 class="widget-title primary weight700 mb-3 font32"> Call</h4>
                        <p href="#" class="secondary mb-3 font18"> +233 20 200 2386 </p>
                        <a href="#" class="green">🟢 Available between 8AM to 6PM GMT </a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 mb-5 mb-lg-2">
                    <div class="widget">
                        <div class="widget-title text-white mb-4"> <img style="width: 64px"
                                src="./assets/img/product-icons/mail.png" alt=""> </div>
                        <h4 class="widget-title primary mb-3 weight700 font32"> Mail</h4>
                        <p href="#" class="secondary font18"> support.ghana@cross-switch.com </p>
                    </div>
                </div>
            </div>
        </div>
    </section> <br><br><br><br>

    <!-- """"""""""""""""""""""""""""""""""""""" What We Provide """""""""""""""""""""""""""""""""""" -->
     <!-- """"""""""""""""""""""""""""""""""""""" What We Provide """""""""""""""""""""""""""""""""""" -->
  <section class="">
    <div class=" container py-14 py-md-5">
        <div class="footer-style py-10">
            <div class="row">
                <div class=" px-lg-10 py-lg-10 p-5">
                    <h2 class="font24 text-uppercase mb-3 px-3 primary violet-line">WHAT WE PROVIDE</h2>
                    <h3 class="font40 text-white">Our products are built to power merchants </h3>
                </div>
            </div>

            <app-products></app-products>
        </div>
    </div>
</section>

      <!-- """""""""""""""""""""""""""""" COME WORK WITH US """"""""""""""""""""""""""""-->
     <!-- """""""""""""""""""""""""""""" COME WORK WITH US """"""""""""""""""""""""""""-->
     <section class="">
        <div class="container all py-14">
            <div class=" row gx-lg-8 gx-xl-12 gy-10 mb-10 mb-md-12">
                <div class="col-lg-8 order-lg-2 order-1">
                  <div class="row gx-md-5 gy-5 align-items-center">
                    <div class="col-md-6">
                      <div class="row gx-md-5 gy-5">
                        <div class="col-md-12" >
                          <figure class="rounded"><img class="w-100" src="./assets/img/photos/group3.png" alt=""></figure>
                        </div>
                        <!--/column -->
                        <div class="col-md-12" >
                          <figure class="rounded"><img class="w-100" src="./assets/img/photos/group2.png" alt=""></figure>
                        </div>
                        <!--/column -->
                      </div>
                      <!--/.row -->
                    </div>
                    <!--/column -->
                    <div class="col-md-6" >
                      <figure class="rounded"><img class="w-100" src="./assets/img/photos/group1.png"  alt=""></figure>
                    </div>
                    <!--/column -->
                  </div>
                  <!--/.row -->
                </div>
                <!--/column -->
                <div class="col-lg-4">
                    <div class="row">
                        <div class=" py-lg-10 p-5">
                            <h2 class="font24 text-uppercase mb-3 px-3 weight700 primary violet-line">COME WORK WITH US</h2>
                            <h3 class="font40 secondary weight700">Cross Switch Ghana </h3>
                            <span><a [routerLink]="['/company/careers']" class="font18 focal-red weight600" >View openings <span class=" px-2 py-1 dark"> <fa-icon [icon]="arrow"></fa-icon></span></a></span>
                        </div>
                    </div>
                </div>
                <!--/column -->
              </div>
        </div>
      </section> 

  <!-- ######################################## PARTNERS ################################################## -->
   <!-- ######################################## PARTNERS ################################################## -->
   <section class="hero-style my-5">
    <div class="container all">
        <div class="row justify-content-center gx-lg-8 gx-xl-12 gy-10 gy-lg-0 py-10">
            <div class=" mt-lg-2">
                <h3 class="text-center secondary mb-5 pe-xxl-5 weight700 font40">Partners</h3>
            </div>
            <div class="col-lg-6 text-center">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3">
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/c1.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/c2.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/c3.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-5 brand" src="./assets/img/brands/c4.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-10 brand" src="./assets/img/brands/c5.png" alt="" />
                    </div>
                    <div class="col">
                        <img class="mb-10 brand" src="./assets/img/brands/c6.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section> <br><br> <br><br><br>
 
    <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
    <app-create-account></app-create-account> 

</main>