<main class="wrapper background bg-light">

    <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
    <section class="bg-soft-primary py-5">
        <div class="container all pt-5">
            <div class="row mb-5 py-4 align-items-center justify-content-between">

                <div class="col-md-12 col-lg-5 text-lg-end text-center order-lg-2 pt-0 pt-lg-5 mb-5 mb-lg-0"
                    data-cue="zoomIn">
                    <figure><img class="img-fluid hero-img" src="./assets/img/photos/banking-bg.png" alt="" /></figure>
                </div>

                <div class="col-lg-7 order-2 order-lg-0">
                    <h2 class="font24 weight700 text-uppercase mb-3 px-3 dark blue-line">FINANCIAL SOLUTION</h2>
                    <h1 class="font72 secondary weight700 mb-5 pt-4" style="-webkit-text-stroke-width: 1px;"> <br
                            class="d-none d-lg-inline d-md-inline"> Our <span class="primary">Core Banking </span> <br
                            class="d-none d-lg-inline d-md-inline"> Platform </h1>
                    <h2 class="mb-5 pb-lg-4 pb-1 text-start secondary font18 lh-sm mb-7 px-md-10 px-lg-0">Digital Core
                        Banking Platform for Enterprise and Financial Service Providers</h2>

                    <div class="py-0 py-lg-5 py-md-2 mt-0 mt-lg-5 d-flex align-items-center justify-content-start"
                        data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
                        <span> <a [routerLink]="['/company/sales']" class="btn primary-bg text-white weight600 border-radius py-3 px-lg-4 levy-font scrollto d-lg-flex">Request a demo</a> </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ######################################## PARTNERS ################################################## -->
    <section class="hero-style my-5">
        <div class="container all">
            <div class="row justify-content-center gx-lg-8 gx-xl-12 gy-10 gy-lg-0 py-2">
                <div class=" mt-lg-2">
                    <h3 class="text-center secondary weight700 mb-5 pe-xxl-5 font40">Partners</h3>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6">
                        <div class="col">
                            <img class="mb-5 brand" src="./assets/img/brands/c1.png" alt="" />
                        </div>
                        <div class="col">
                            <img class="mb-5 brand" src="./assets/img/brands/c2.png" alt="" />
                        </div>
                        <div class="col">
                            <img class="mb-5 brand" src="./assets/img/brands/c3.png" alt="" />
                        </div>
                        <div class="col">
                            <img class="mb-5 brand" src="./assets/img/brands/c4.png" alt="" />
                        </div>
                        <div class="col">
                            <img class="mb-5 brand" src="./assets/img/brands/c5.png" alt="" />
                        </div>
                        <div class="col">
                            <img class="mb-5 brand" src="./assets/img/brands/c6.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <br><br> <br><br><br><br>

    <!-- """""""""""""""""""""""""""""" COlLECT PAYMENT """"""""""""""""""""""""""""-->
    <section class="container footer-style">
        <div class="all">
            <div class="row pt-5">
                <div class="px-lg-4 px-md-4 px-2">
                    <div class=" mb-4">
                        <div class="d-flex flex-row align-items-center">
                            <div>
                                <span class=""><img style="width: 50px"
                                        src="./assets/img/product-icons/core-banking.png" alt=""></span>
                            </div>
                            <div class=" text-wrap mx-3">
                                <h6 class="mb-0 font24 blue-pastel weight700"> CORE BANKING</h6>
                            </div>
                        </div>
                    </div>

                    <h3 class="font40 mb-9 text-white weight700">Power and flexibility</h3>
                </div>
            </div> <br><br><br>
            <div class="px-2" >
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                        <div class="box p-5 card border-0 h-100" >
                            <p class=" pt-5 px-2 weight700 font32 secondary h-50">Industry regulatory compliance</p>
                            <p class="py-5 font18 weight400 secondary">Built with security and data protection in mind,
                                our banking infrasturcture meets industry standards and compliance</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                        <div class="box p-5 card border-0 h-100" >
                            <p class=" pt-5 px-2 weight700 font32 secondary h-50">Open banking API’s</p>
                            <p class="pb-5 pt-4 font18 weight400 secondary">Payment flows for any use case which can be
                                easily integrated with any software application</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                        <div class="box p-5 card border-0 h-100" >
                            <p class=" pt-5 weight700 font32 secondary h-50">Modular digital financial platform</p>
                            <p class="py-5 font18 weight400 secondary">Built for scale. Able to take small to large
                                amount in deposits supported for your banking operations</p>
                        </div>
                    </div>
                </div> <br><br>
                <div
                    class="d-flex flex-lg-row flex-md-row flex-column align-items-center justify-content-between px-lg-4 px-2 mx-lg-3 mx-md-3 px-2 py-1 pb-5 pt-5 deep-blue rounded mt-2">
                    <div>
                        <h6 class="font72 dark">Pricing</h6>
                        <span class="dark">Know what you’ll pay</span>
                    </div>
                    <span><a [routerLink]="['/pricing']" class="mx-1 font18 primary" style="font-weight: 700">Pricing Details <span
                                class=" px-2 py-1">
                                <fa-icon [icon]="arrow"></fa-icon>
                            </span></a> </span>
                </div> <br><br>
            </div>
        </div>
    </section><br><br> <br><br><br><br>


    <!-- """"""""""""""""""""""""""""""""""""""" Spotlight """""""""""""""""""""""""""""""""""" -->
     <!-- """"""""""""""""""""""""""""""""""""""" Spotlight """""""""""""""""""""""""""""""""""" -->
     <section class="mb-5">
        <div class=" all pb-4 pb-md-5 px-md-5 mb-5">
            <div id="carouselExampleIndicators" class="carousel slide container" data-bs-ride="carousel">
                <h3 class="font72 weight700 primary mb-3">Spotlight </h3>
                <div class="carousel-indicators col-lg-9 mb-5">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="5000">
                    <!-- <img src="assets/img/photos/man-in-suit.png" class="d-block w-100" alt="..."> -->
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-12 col-lg-4 order-lg-2">
                            <figure class="rounded"><img class="w-100" src="assets/img/photos/lady.png" alt=""></figure>
                        </div>
                        <div class="col-lg-7 my-lg-5 py-lg-5 py-3">
                            <h3 class="font40 mb-5 weight700 secondary">“ Success of business today depends on 2 factors: Trust & Technology. Alias Solutions brings both for businessmen & companies. They make friendly atmosphere to result best in market. ”</h3>
                            <div class="mt-lg-5 my-lg-5 py-lg-5">
                                <h5 class="font24 secondary" style="font-weight: 500">Benjamin Afful-Eshun </h5>
                                <span class="font18 dark">CEO, Ahantaman Rural BanK</span>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="5000">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-8 col-lg-4 order-lg-2">
                            <figure class="rounded"><img class="w-100" src="assets/img/photos/guy2.png" alt=""></figure>
                        </div>
                        <div class="col-lg-7 my-lg-5 py-lg-5 py-3">
                            <h3 class="font40 mb-5 weight700 secondary">“ Plan ahead by day, week, or month, and see project status at a glance. Search and filter to focus in on anything form a single project individual.”</h3>
                            <div class="mt-lg-5 my-lg-5 py-lg-5">
                                <h5 class="font24 secondary" style="font-weight: 500">David Warner</h5>
                                <span class="font18 dark">Web Developer</span>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="5000">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-8 col-lg-4 order-lg-2">
                            <figure class="rounded"><img class="w-100" src="assets/img/photos/guy.png" alt=""></figure>
                        </div>
                        <div class="col-lg-7 my-lg-5 py-lg-5 py-3">
                            <h3 class="font40 mb-5 weight700 secondary">“ I had my own skepticism initially about local banking software based on previous experiences, but Alias changed my perception by their flexibility, prompt and professional customer approach to our requirement. ”</h3>
                            <div class="mt-lg-5 my-lg-5 py-lg-5">
                                <h5 class="font24 secondary" style="font-weight: 500">Gilbert Odamtey</h5>
                                <span class="font18 dark">CEO Leverage Micro finance </span>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>


    <!-- """"""""""""""""""""""""""""""""""""""" Developer Friendly """""""""""""""""""""""""""""""""""" -->
    <app-develop-friendly></app-develop-friendly>


    <!-- """"""""""""""""""""""""""""""""""""""" What We Provide """""""""""""""""""""""""""""""""""" -->
    <section class="">
        <div class=" container py-14 py-md-5">
            <div class="footer-style py-10">
                <div class="row">
                    <div class=" px-lg-10 py-lg-10 p-5">
                        <h2 class="font24 text-uppercase mb-3 px-3 primary violet-line">WHAT WE PROVIDE</h2>
                        <h3 class="font40 text-white">Our products are built to power merchants </h3>
                    </div>
                </div>

                <app-products></app-products>
            </div>
        </div>
    </section>


    <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
    <app-create-account></app-create-account>

</main>