<main class="wrapper bg-light">

    <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
    <section class="bg-light pt-5">
        <div class="container all pt-5">
            <div class=" pt-4">

                <div class="col-lg-12 pt-5 pb-lg-0 pb-4">
                    <span class="dark weight500 levy-font">PRODUCT UPDATES | 3RD JUNE, 2022</span>
                    <h1 class="font40 secondary weight700 mb-4 pt-4" style="-webkit-text-stroke-width: 1px;">Introducing Digital Products to Cross Switch  Product Links</h1>
                    <span class="dark weight500 levy-font">Sell digital products like ebooks or media files securely with Cross Switch Storefronts and Product Link</span>
                </div>
    
                <div class="row justify-content-between pt-0 pt-lg-5 mb-lg-0" data-cue="zoomIn">
                    <div class="col-lg-7">
                        <figure><img class="img-fluid hero-img" src="./assets/img/photos/blog-bg.png" alt="" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>


  <!-- """"""""""""""""""""""""""""""""" BLOG DETAILS """"""""""""""""""""""""""""""""""" -->
  <section class=" container all my-5 py-5">
  
    <div class="row">
      <div id="info-utile" class=" py-5 col-lg-9">
        <div class="dark">            
          <p>Do laborum cupidatat magna quis ex exercitation ullamco fugiat commodo et occaecat aute minim magna. Adipisicing dolor anim sit duis elit tempor amet ullamco sunt laborum ut pariatur proident. Voluptate aute ipsum aliqua deserunt eiusmod ipsum tempor laboris est aliquip ipsum nisi est officia. Dolore adipisicing velit aliquip deserunt excepteur consequat mollit. Velit fugiat officia eiusmod ad. Laboris ullamco amet voluptate duis minim et officia anim ex excepteur Lorem laboris. </p>

           <p> Est ad Lorem cupidatat commodo in sit consectetur. Quis quis amet et mollit officia ex labore consequat consectetur magna aliqua. Aliqua veniam adipisicing ea pariatur aute fugiat dolor eu nisi minim. In minim sint mollit excepteur cupidatat voluptate officia sit laborum id occaecat Lorem quis proident. </p><br>
            
           <h6 class="font18 weight600">Est nisi anim ea adipisicing eu aute cillum reprehenderit elit. - Small headings</h6><br>
            
           <p> Qui tempor sit enim nulla aute Lorem mollit. Deserunt aliqua reprehenderit in amet ullamco cillum ullamco aliqua non amet. Exercitation do irure laborum officia ea eu consequat consequat elit do consequat dolore labore et. Nostrud id et et amet quis nisi consequat sunt eu eiusmod labore. Laboris reprehenderit do exercitation sint commodo aute voluptate ullamco.
            
            Proident pariatur mollit consectetur labore velit commodo. Adipisicing laborum incididunt elit officia consequat eiusmod deserunt deserunt minim nulla incididunt minim est. Veniam id ut voluptate ad deserunt duis id minim laboris ipsum ullamco sunt sunt. Nostrud elit minim elit non deserunt dolor. Reprehenderit amet exercitation ea aliqua proident enim anim duis cupidatat anim commodo laboris sint. Culpa pariatur amet voluptate veniam non veniam cupidatat dolore. Do nisi proident laborum eu irure in Lorem excepteur occaecat aliquip voluptate.
            
            Id culpa exercitation quis culpa amet ullamco. Quis ad velit amet irure id laboris. Ipsum Lorem Lorem consequat excepteur reprehenderit veniam Lorem ullamco nisi laboris. Labore nulla nulla cillum aliqua culpa. Labore ullamco aliqua ut aliquip nostrud sunt proident excepteur occaecat tempor minim est id. Lorem laborum aliquip ut culpa eu deserunt fugiat ipsum aute. Nisi velit id consectetur Lorem veniam est ex ullamco incididunt officia voluptate quis.
            
            Excepteur sunt eu ea irure. Duis esse deserunt amet laborum. Ut laboris labore id qui cupidatat sit aute quis tempor sit. </p>
            
           <p> Sunt commodo dolor culpa elit id elit pariatur commodo proident reprehenderit. Id excepteur mollit est excepteur anim occaecat ea ad excepteur. Elit voluptate aliquip ipsum consequat. Anim sunt ad exercitation pariatur Lorem sunt fugiat amet ullamco do id consequat sint.</p>
        </div>
    </div>
    
      <div class=" pt-3 pb-0 col-lg-3 footer-style px-5 mt-5">
        <div class="d-flex align-items-center font18  text-decoration-underline-lg pb-5 pt-3">
            <img style="width: 60px" src="./assets/img/photos/alva.png" alt="">   
            <div class="mx-2">
                <h6 class="levy-font weight700">Alva Ayitey-Adjin</h6>
                <span class="levy-font weight500">Commercial Officer</span>
            </div> 
        </div>
        <div class="">      
            <h3 class="d-text mb-3 text-white">OUTLINE </h3>      
            <div class="text-wrap">
                <h3 class="font18 pb-4 light-blue"> First Paragraph </h3>
                <h3 class="font18 pb-4 light-blue"> Second Paragraph </h3>
                <h3 class="font18 pb-4 light-blue"> Next Paragraph </h3>
                <h3 class="font18 pb-4 light-blue"> Next Paragraph </h3>
                <h3 class="font18 light-blue"> Summary </h3>
            </div>
        </div>
    </div>
    </div>
  </section>  <br><br>

             <!-- ######################################## MORE ARTICLES ################################################## -->
             <section class="hero-style my-5">
                <div class="container all">
                    <div class="row justify-content-center gx-lg-8 gx-xl-12 gy-10 gy-lg-0 py-2">
                      <div class=" mt-lg-2">
                        <h3 class="text-center secondary mb-5 pe-xxl-5 font40">More articles</h3>
                      </div>
                      <div class="col-lg-12">
                        <div class="row justify-content-center">
                            <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['/blog']">
                                <div class="card shadow-lg team-bg h-100">
                                    <div class="card-body">
                                      <img class=" w-100 mb-4" src="./assets/img/photos/blog1.png" alt="" />
                                      <span class="dark weight500 levy-font">PRODUCT UPDATES | 3RD JUNE, 2022</span><br><br>
                                      <h4 class=" mb-3 font18 weight700 secondary short-text">Introducing Digital Products to Cross Switch  Product Links</h4>
                                    </div>
                                  </div>
                               </a>
                               <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['/blog']">
                                <div class="card shadow-lg team-bg h-100">
                                    <div class="card-body">
                                      <img class=" w-100 mb-4" src="./assets/img/photos/blog1.png" alt="" />
                                      <span class="dark weight500 levy-font">PRODUCT UPDATES | 3RD JUNE, 2022</span><br><br>
                                      <h4 class=" mb-3 font18 weight700 secondary short-text">Introducing Digital Products to Cross Switch  Product Links</h4>
                                    </div>
                                  </div>
                               </a>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- /.container -->
              </section> <br><br> <br><br>

    <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
    <app-create-account></app-create-account>

</main>