<main class="wrapper background light-blue">

    <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
    <section class=" py-15">
        <div class="container all pt-10 pt-md-5 pt-lg-10">
            <div class="row gx-lg-0 gx-xl-8 gy-10 gy-md-13 gy-lg-0 mb-7 align-items-center justify-content-between">

                <div class="col-lg-11 mt-lg-10" data-cues="slideInDown" data-group="page-title" data-delay="600">
                <h2 class="font24 text-uppercase mb-3 px-3 primary blue-line" >PRESS</h2>
                  <h1 class="font72 weight700 mb-5 dark col-lg-8"> Cross Switch Ghana Press Resources </h1>
                  <div class="col-lg-11">
                      <p class="secondary font40 lh-sm mb-7 px-md-10 px-lg-0 weight700">Our mission is to build a financially inclusive society that will drive economic prosperity. We provide individuals and businesses access to useful and affordable financial products and services that meet their needs and aspirations</p> <br>
                      <p class="font18 secondary">Download our full media assets kit, including logo symbols, and a usage guide to help determine when and how to use our brand.</p>
                      <div class="d-flex align-items-center justify-content-lg-start pt-lg-3" data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
                        <span><a class=" font18 primary" style="font-weight: 700" (click)="download()" routerLinkActive="router-link-active" > Download Assets <span class=" px-2 py-1 d-none d-md-inline dark"> <fa-icon [icon]="arrow"></fa-icon></span></a> </span>
                      </div>
                  </div>
                </div>
              </div>
        </div>
    </section>


 <!-- """""""""""""""""""""""""""""" Address """"""""""""""""""""""""""""-->
 <section class="">
    <div class="container all py-5">
        <div class="row gy-6 gy-lg-0 col-lg-8 col-12 justify-content-between">
            <div class="col-md-4 col-lg-6">
                <div class="widget">
                    <div class="widget-title text-white mb-4"> <img style="width: 64px"
                            src="./assets/img/product-icons/address.png" alt=""> </div>
                    <h4 class="widget-title primary mb-8 font32"> Find us</h4>
                    <p href="#" class="f secondary font18">14 Nyaniba CR- OSU Nyaniba Estate <br> OSU La Crescent St,
                        Accra Ghana </p>
                    <a class="mb-0 mt-8 fs-16 fw-bold primary" (click)="visit()" > Visit our office <span
                                class="border px-4 mx-2 py-1" style="border-radius: 16px;">
                                <fa-icon [icon]="arrow"></fa-icon>
                            </span></a>
                </div>
            </div>

            <div class="col-md-4 col-lg-6 mt-5 mt-lg-0">
                <div class="widget">
                    <div class="widget-title text-white mb-4"> <img style="width: 64px"
                            src="./assets/img/product-icons/call.png" alt=""> </div>
                    <h4 class="widget-title primary mb-8 font32"> Contact us </h4>
                    <p class="secondary font18"> +233 20 200 2386 </p>
                    <p class="secondary font18"> support.ghana@cross-switch.com </p>
                    <p class="green">🟢 Available between 8AM to 6PM GMT </p>
                </div>
            </div>
        </div>
    </div>
  </section> 
    
  <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
  <app-create-account></app-create-account>

</main>
