<!-- """""""""""""""""""""""""""""""""""""  DEVELOPER FRIENDLY SECTION """"""""""""""""""""""""""""""""""" -->

<section>
    <div class="container all py-4 px-lg-5 px-2 my-5 developer">
        <div class="row py-5">
            <div class="col-lg-9 col-xl-8 col-xxl-7">
          <h2 class="font24 weight700 text-uppercase mb-3 px-3 primary blue-line" >WELL DOCUMENTED APIS FOR DEVELOPERS</h2>
          <h3 class="font72 weight700 mb-3 secondary">Developer <span style="color: #ECACAC">friendly</span> </h3>
        </div>
    </div>
    
    <div class="row gy-10 gy-sm-13 gx-lg-3 py-4 align-items-center">
        <!-- <div class="col-md-12 col-lg-6 col-12 order-lg-2 position-relative">
            <figure class="rounded"><img style="width: 100%" src="assets/img/photos/code.svg" alt=""></figure>
        </div> -->
        <div class="col-lg-6">
            <h3 class="d-text mb-5 dark">We agonise over the right abstractions so your teams don’t need to stitch together disparate systems or spend months integrating payments functionality.</h3>
            <div class="accordion accordion-wrapper" id="accordionExample">
                <div>
                    <p class="mb-5 pb-2 dark"> <span class="border px-4 py-1" style="border-radius: 16px;"> <fa-icon [icon]="arrow"></fa-icon></span> Quick transfers </p>
                </div>
                <div>
                    <p class="mb-5 pb-2 dark"> <span class="border px-4 py-1 none-link" style="border-radius: 16px;"> <fa-icon [icon]="arrow"></fa-icon></span> Initiate one-time and recurring payments </p>
                </div>
                <div>
                    <p class="mb-5 pb-2 dark"> <span class="border px-4 py-1 none-link" style="border-radius: 16px;"> <fa-icon [icon]="arrow"></fa-icon></span> Payment verification </p>
                </div>
                <div>
                    <p class="mb-5 pb-2 dark"> <span class="border px-4 py-1 none-link" style="border-radius: 16px;"> <fa-icon [icon]="arrow"></fa-icon></span> Customer verification  </p>
                </div>
                <p class="pb-2"><a class="d-text primary weight600" (click)="apis()"> Read Our API Docs  <span class=" px-3 py-1" style="border-radius: 16px;"> <fa-icon [icon]="arrow"></fa-icon></span>  </a></p>
            </div>
        </div>
    </div>
</div>
   </section>
   
<!-- """""""""""""""""""""""""""""""""""""  DEVELOPER FRIENDLY SECTION """"""""""""""""""""""""""""""""""" -->