<main class="wrapper">

  <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
  <section class="bg-soft-primary py-5 hero-style">
    <div class="container all pt-5">
      <div class="row mb-5 py-4 align-items-center justify-content-between">

        <div class="col-lg-12 pt-5">
          <h2 class="font24 weight700 text-uppercase mb-3 px-3 primary blue-line">BLOG</h2>
          <h1 class="font72 secondary weight700 mb-4 pt-4" style="-webkit-text-stroke-width: 1px;">Cross Switch Ghana
          </h1>
        </div>

        <div class="row justify-content-between pt-0 pt-lg-5 mb-5 mb-lg-0" data-cue="zoomIn">
          <div class="col-lg-6">
            <figure><img class="img-fluid hero-img" src="./assets/img/photos/blog-bg.png" alt="" /></figure>
          </div>
          <div class="col-lg-5">
            <span class="dark weight500 levy-font">PRODUCT UPDATES | 3RD JUNE, 2022</span>
            <h6 class="font40 secondary weight700 my-5">Introducing Digital Products to Cross Switch Product Links</h6>
            <p class="weight400 font18 dark">Sell digital products like ebooks or media files securely with Cross Switch
              Storefronts and Product Link</p>
          </div>
        </div>
      </div>
    </div>
  </section> <br><br>


  <!-- """""""""""""""""""""""""""""""""""""""""""" BLOGS """""""""""""""""""""""""""""""""""""""" -->

  <section id="menu" class="menu bg-white">
    <div class="">
      <div uk-filter="target: .js-filter">
        <div class="container">
          <div class=" mb-4">
            <ul class="uk-subnav uk-subnav-pill mx-0">
                  <li  class="uk-active filter-button mb-3" uk-filter-control><a class="filter-link" href="#">ALL</a></li>
              <li class=" filter-button mx-4 mb-3" uk-filter-control="[data-color='product']"><a class="filter-link"
                  href="#">PRODUCT UPDATES</a></li>
              <li class=" filter-button mb-3" uk-filter-control="[data-color='merchant']"><a class="filter-link"
                  href="#">MERCHANT STORIES</a></li>
            </ul>
          </div><br><br>

          <div class="row menu-container js-filter" style="padding-bottom: 100px">

            <!-- <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['/blog/details']"> -->
            <!-- <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view', l.code]"> -->
            <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view']" data-color="product">
              <div class="card shadow-lg team-bg h-100">
                <div class="card-body">
                  <img class=" w-100 mb-4" src="./assets/img/photos/blog1.png" alt="" />
                  <span class="dark weight500 levy-font">PRODUCT UPDATES | 3RD JUNE, 2022</span><br><br>
                  <h4 class=" mb-3 font18 weight700 secondary short-text">Introducing Digital Products to Cross Switch
                    Product Links</h4>
                </div>
              </div>
            </a>

            <!-- <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view', l.code]"> -->
            <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view']" data-color="product">
              <div class="card shadow-lg team-bg h-100">
                <div class="card-body">
                  <img class=" w-100 mb-4" src="./assets/img/photos/blog1.png" alt="" />
                  <span class="dark weight500 levy-font">PRODUCT UPDATES | 3RD JUNE, 2022</span><br><br>
                  <h4 class=" mb-3 font18 weight700 secondary short-text">Introducing Digital Products to Cross Switch
                    Product Links</h4>
                </div>
              </div>
            </a>

            <!-- <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view', l.code]"> -->
            <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view']" data-color="product">
              <div class="card shadow-lg team-bg h-100">
                <div class="card-body">
                  <img class=" w-100 mb-4" src="./assets/img/photos/blog1.png" alt="" />
                  <span class="dark weight500 levy-font">PRODUCT UPDATES | 3RD JUNE, 2022</span><br><br>
                  <h4 class=" mb-3 font18 weight700 secondary short-text">Introducing Digital Products to Cross Switch
                    Product Links</h4>
                </div>
              </div>
            </a>

            <!-- <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view', l.code]"> -->
            <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view']" data-color="merchant">
              <div class="card shadow-lg team-bg h-100">
                <div class="card-body">
                  <img class=" w-100 mb-4" src="./assets/img/photos/blog2.png" alt="" />
                  <span class="dark weight500 levy-font">MERCHANT STORIES | 3RD JUNE, 2022</span><br><br>
                  <h4 class=" mb-3 font18 weight700 secondary short-text">Introducing Digital Products to Cross Switch
                    Product Links</h4>
                </div>
              </div>
            </a>

            <!-- <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view', l.code]"> -->
            <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view']" data-color="merchant">
              <div class="card shadow-lg team-bg h-100">
                <div class="card-body">
                  <img class=" w-100 mb-4" src="./assets/img/photos/blog2.png" alt="" />
                  <span class="dark weight500 levy-font">MERCHANT STORIES | 3RD JUNE, 2022</span><br><br>
                  <h4 class=" mb-3 font18 weight700 secondary short-text">Introducing Digital Products to Cross Switch
                    Product Links</h4>
                </div>
              </div>
            </a>

            <!-- <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view', l.code]"> -->
            <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view']" data-color="merchant">
              <div class="card shadow-lg team-bg h-100">
                <div class="card-body">
                  <img class=" w-100 mb-4" src="./assets/img/photos/blog2.png" alt="" />
                  <span class="dark weight500 levy-font">MERCHANT STORIES | 3RD JUNE, 2022</span><br><br>
                  <h4 class=" mb-3 font18 weight700 secondary short-text">Introducing Digital Products to Cross Switch
                    Product Links</h4>
                </div>
              </div>
            </a>

            <!-- <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view', l.code]"> -->
            <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view']" data-color="product">
              <div class="card shadow-lg team-bg h-100">
                <div class="card-body">
                  <img class=" w-100 mb-4" src="./assets/img/photos/blog1.png" alt="" />
                  <span class="dark weight500 levy-font">PRODUCT UPDATES | 3RD JUNE, 2022</span><br><br>
                  <h4 class=" mb-3 font18 weight700 secondary short-text">Introducing Digital Products to Cross Switch
                    Product Links</h4>
                </div>
              </div>
            </a>

            <!-- <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view', l.code]"> -->
            <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view']" data-color="product">
              <div class="card shadow-lg team-bg h-100">
                <div class="card-body">
                  <img class=" w-100 mb-4" src="./assets/img/photos/blog1.png" alt="" />
                  <span class="dark weight500 levy-font">PRODUCT UPDATES | 3RD JUNE, 2022</span><br><br>
                  <h4 class=" mb-3 font18 weight700 secondary short-text">Introducing Digital Products to Cross Switch
                    Product Links</h4>
                </div>
              </div>
            </a>

            <!-- <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view', l.code]"> -->
            <a class="col-lg-4 col-6 col-md-6 menu-item filter-update mb-5" [routerLink]="['view']" data-color="product">
              <div class="card shadow-lg team-bg h-100">
                <div class="card-body">
                  <img class=" w-100 mb-4" src="./assets/img/photos/blog1.png" alt="" />
                  <span class="dark weight500 levy-font">PRODUCT UPDATES | 3RD JUNE, 2022</span><br><br>
                  <h4 class=" mb-3 font18 weight700 secondary short-text">Introducing Digital Products to Cross Switch
                    Product Links</h4>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
  <app-create-account></app-create-account>

</main>