<main class="wrapper background light-blue">

    <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
    <section class=" py-15 hero-style">
        <div class="container all pt-10 pt-md-5 pt-lg-10">
            <div class="row gx-lg-0 gx-xl-8 gy-10 gy-md-13 gy-lg-0 mb-5">

                <div class="col-lg-12 mt-lg-5" data-cues="slideInDown" data-group="page-title" data-delay="600">
                <h2 class="font24 weight700 text-uppercase mb-3 px-3 primary blue-line" >CAREERS</h2>
                  <h1 class="font72 weight700 mb-5 dark col-lg-10"> Come help build the backbone of modern financial services. </h1><br>
                  <div>
                     <img class="w-100" src="./assets/img/photos/career-bg.png" alt="">
                  </div>
                </div>
              </div>
        </div>
    </section>


    <!-- """""""""""""""""""""""" OUR VALUE """""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
    <section class="wrapper my-5">
        <div class="container all pt-5">
            <div class="mb-15">
              <h2 class="font24 weight700 text-uppercase mb-3 px-3 primary blue-line" >OUR VALUES</h2>
              <h1 class="font40 weight700 secondary mb-5">Cross Switch Ghana</h1>
          </div>
          <!-- /.row -->
          <div class="row gx-md-8 gy-8 mb-14 mb-md-18">
            <div class="col-md-6 col-lg-4">
                <div class="col-lg-10">
                    <div class=" mb-4 icons"> <img style="width: 50px" src="./assets/img/product-icons/circle.png" alt=""> </div>
                  <h4 class="font32  mb-3 primary weight700">Insist on High Standards</h4>
                  <p class="mb-3 weight400 secondary font18">Cross Switch helps many of the largest corporate and government organizations So our support is always ready to help</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="col-lg-10">
                <div class="mb-4 icons"> <img style="width: 50px" src="./assets/img/product-icons/star.png" alt=""> </div>
              <h4 class="font32  mb-3 primary weight700">Pursue Growth and Innovation</h4>
              <p class="mb-3 secondary weight400 font18">Cross Switch helps many of the largest corporate and government organizations So our support is always ready to help</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="col-lg-10">
                <div class="mb-4 icons"> <img style="width: 50px" src="./assets/img/product-icons/social.png" alt=""> </div>
              <h4 class="font32  mb-3 primary weight700">Social Impact Driven</h4>
              <p class="mb-3 font18 secondary weight400">Widening access to banking, payments, savings, credit, pensions and insurance</p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </section>

       <!-- """""""""""""""""""""""""""""" CAREERS """"""""""""""""""""""""""""-->
 <section class="container footer-style" style="margin-top: 150px">
    <div class="all">
        <div class="row pt-5">
            <div class="px-lg-4 px-md-4 px-2">
                <div class=" mb-4">
                    <h2 class="font24 weight700 text-uppercase mb-3 px-3 primary violet-line" >CAREERS</h2>
                </div>

                <h3 class="font72 mb-9 text-white weight700">Come work with us</h3>
            </div>
        </div> <br><br><br>
        <div class="px-2" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                    <div class="box p-5 card border-0 h-100">
                        <p class=" pt-5 px-2 weight700 font32 secondary h-50">Health</p>
                        <p class="py-5 font18 weight400 secondary">You get full medical and life insurance covered by us-no stress.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                    <div class="box p-5 card border-0 h-100">
                        <p class=" pt-5 px-2 weight700 font32 secondary h-50">Work gadgets</p>
                        <p class="pb-5 pt-4 font18 weight400 secondary">You will be provided with all the necessary tools required to get your work done.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                    <div class="box p-5 card border-0 h-100">
                        <p class=" pt-5 weight700 font32 secondary h-50">Flexible work</p>
                        <p class="py-5 font18 weight400 secondary">As long as the work is delivered, you get to be anywhere. We’re absolutely remote-friendly.</p>
                    </div>
                </div>
            </div> <br><br>
        </div>
    </div>
</section><br><br> <br><br>


    <!-- """"""""""""""""""""""""""""""""""""""" COME WORK WITH US """""""""""""""""""""""""""""""""""" -->
    <section class="">
        <div class=" container py-md-5">
            <div class="px-lg-4 px-md-4 px-2">
                <div class=" mb-4">
                    <h2 class="font24 weight700 text-uppercase mb-3 px-3 primary blue-line" >OPENINGS</h2>
                </div>

                <h3 class="font72 mb-9 secondary weight700">Come work with us</h3>
            </div>
            <div class="bg-pastel p-4 mt-5">
                <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between text-start mb-3 pt-3">
                    <div class="col-lg-7">
                        <span class="dark weight500 levy-font">ENGINEERING | FULL TIME | REMOTE</span>
                        <h6 class="weight700 font40 secondary mt-lg-2 mb-lg-5 mb-3">SENIOR AUTOMATION <br class="d-none d-lg-inline d-md-inline"> ENGINEER</h6>

                        <span class="dark weight400 font18 col-lg-6">Establish our front-end automation test strategy for web and mobile applications to help engineering teams move faster while maintaining high quality standards.</span>
                    </div>
                    <div class="col-lg-5 text-lg-end text-start mt-4 mt-lg-0">
                         <span class="primary font18 weight500"> Apply Here <fa-icon [icon]="arrow" class="dark"></fa-icon> </span> <br><br>
                        <p class="dark weight500 font18">Deadline: Fri 17 Jun. 2022</p>
                    </div>
                </div>
            </div>
            <div class="bg-pastel p-4 mt-5">
                <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between text-start mb-3 pt-3">
                    <div class="col-lg-7">
                        <span class="dark weight500 levy-font">ENGINEERING | FULL TIME | REMOTE</span>
                        <h6 class="weight700 font40 secondary mt-lg-2 mb-lg-5 mb-3">SENIOR AUTOMATION <br class="d-none d-lg-inline d-md-inline"> ENGINEER</h6>

                        <span class="dark weight400 font18 col-lg-6">Establish our front-end automation test strategy for web and mobile applications to help engineering teams move faster while maintaining high quality standards.</span>
                    </div>
                    <div class="col-lg-5 text-lg-end text-start mt-4 mt-lg-0">
                         <span class="primary font18 weight500"> Apply Here <fa-icon [icon]="arrow" class="dark"></fa-icon> </span> <br><br>
                        <p class="dark weight500 font18">Deadline: Fri 17 Jun. 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
  <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
  <app-create-account></app-create-account>

</main>
