<main class="wrapper background light-blue">

    <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
    <section class=" py-5 hero-style">
        <div class="container all pt-5">
            <div class="row gx-lg-0 gx-xl-8 gy-10 gy-md-13 gy-lg-0 pt-5 mb-4 align-items-center justify-content-between">

                <div class="col-md-12 col-lg-4 position-relative order-lg-2 mb-lg-0 mb-4" data-cue="zoomIn">
                  <figure><img class="w-100" src="./assets/img/photos/faq-bg.png" alt="" /></figure>
                </div>

                <div class="col-lg-7" data-cues="slideInDown" data-group="page-title" data-delay="600">
                    <h2 class="font24 weight700 text-uppercase mb-3 px-3 primary blue-line" >HELP CENTER</h2>
                    <h1 class="font72 weight700 mb-5 mb-lg-15 dark"> How can we help ?  </h1>
                    <div class="row gy-6 gy-lg-0 justify-content-between">
                        <div class="col-lg-6">
                            <div class="widget">
                                <div class="widget-title text-white mb-4"> <img style="width: 64px"
                                        src="./assets/img/product-icons/address.png" alt=""> </div>
                                <h4 class="widget-title weight700 primary mb-4 font32"> Find Us</h4>
                                <p class="f secondary font18">14 Nyaniba CR- OSU Nyaniba Estate <br> OSU La Crescent St,
                                    Accra Ghana </p>
                                <p class="mb-0 mt-4 fs-16 fw-bold primary"> Visit our office <span
                                            class="border px-4 mx-2 py-1" style="border-radius: 16px;">
                                            <fa-icon [icon]="arrow"></fa-icon>
                                </span> </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="widget">
                                <div class="widget-title text-white mb-4"> <img style="width: 64px" src="./assets/img/product-icons/call.png" alt=""> </div>
                                <h4 class="widget-title weight700 primary mb-4 font32"> Contact Us</h4>
                                <p class="f secondary font18">+233 20 200 2386</p>
                                <p class="f secondary font18">support.ghana@cross-switch.com</p>
                                <p class="f green font18">🟢 Available between 8AM to 6PM GMT</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </section> <br><br><br>


 <!-- """""""""""""""""""""""""""""" Frequently Asked Questions """"""""""""""""""""""""""""-->
  <!-- """"""""""""""""""""""""""""""""" FAQ """"""""""""""""""""""""""""""""""" -->
  <section class=" container all my-5 py-5">
    <div class=" gy-10 gy-sm-13 gx-lg-3 align-items-center">
      <div class="">
        <h3 class="font72 dark mb-3">Frequently Asked Questions</h3>
      </div>
    </div>
  
    <div class="row align-items-center">
      <div id="info-utile" class=" py-5 col-lg-12">
        <div class="">            
            <div class="accordion faq" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button p-4" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="dark font18 weight400">What does Cross Switch do?</span>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            Cross-Switch Ghana provides top-end financial products for local registered businesses in Ghana, Benin, Ivory Coast and more, helping with money operation and cashflow needs. We support sole traders, NGOs, partnerships and limited liability companies.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingtwo">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                            <span class="dark font18 weight400">What can Cross Switch do for my business?</span>
                        </button>
                    </h2>
                    <div id="collapsetwo" class="accordion-collapse collapse" aria-labelledby="headingtwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            Please browse through out products section on the navigations bar to find the amazing things Cross Switch can do for you.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            <span class="dark font18 weight400" style="font-size: 18px">Is Cross Switch safe/ secure?</span>
                        </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            Yes, we use technology to encrypt and protect your personal data and account details.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading4">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                            <span class="dark font18 weight400">How do I contact Cross Switch?</span>
                        </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            Our Customer Support team are a lively bunch who are dedicated to providing you the best, and fastest possible experience. You can reach them by email or phone from 08:00 to 17:00 GMT, Mondays-Fridays. <br>
                           Here is a link to our contact page <a [routerLink]="['/company/contact-us']" routerLinkActive="router-link-active" class="mt-5 fw-bold" >Contact Us</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading5">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                            <span class="dark font18 weight400">Are there any charges associated with our products?</span>
                        </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            Refer to this page to view our pricing list. 
                           Here is a link to our <a [routerLink]="['/pricing']" routerLinkActive="router-link-active" class="mt-5 fw-bold" >Pricing Page</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading6">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                            <span class="dark font18 weight400">What does USSD stand for and what does it do?</span>
                        </button>
                    </h2>
                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            USSD is an acronym to mean Unstructured Supplementary Service Data. <br>
                            A USSD code is an interactive and menu-based app that is supported on nearly every mobile phone i.e smartphones and feature phones. We mainly use it to check mobile airtime, data balance enquiries, banking, make mobile money transactions and more
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading7">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                            <span class="dark font18 weight400">How do I get a USSD shortcode?</span>
                        </button>
                    </h2>
                    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            Kindly contact sales here <a [routerLink]="['/company/sales']" routerLinkActive="router-link-active" class="mt-5 fw-bold" >Sales Page</a><br>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading8">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                            <span class="dark font18 weight400">How much does a USSD shortcode cost?</span>
                        </button>
                    </h2>
                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            Refer to this page to view our pricing list.  
                            Here is a link to our <a [routerLink]="['/pricing']" routerLinkActive="router-link-active" class="mt-5 fw-bold" >Pricing Page</a>                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading9">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                            <span class="dark font18 weight400">How do I pay for the USSD code?</span>
                        </button>
                    </h2>
                    <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            You can make payment via mobile money or bank transfer                      
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading10">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                            <span class="dark font18 weight400">Are there different types of USSD code?</span>
                        </button>
                    </h2>
                    <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            Yes. We have a dedicated and shared USSD code. <br>

                            A dedicated code is a code that is owned by one client only. For example, Bank A has a dedicated short code *999#. This means no other client can operate under this code because it is dedicated specifically to bank A. <br>

                            A shared USSD code is rented out to multiple clients. For example, Bank A may use *999*12# and Bank B will have access to *999*13# <br>

                            A dedicated code is more expensive than a shared code.                    
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading11">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                            <span class="dark font18 weight400">How do I use the USSD code?</span>
                        </button>
                    </h2>
                    <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            To use the code *789#, all you need to do is get a mobile device, dial the code *789# to access the menu.         
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading12">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse12" aria-expanded="true" aria-controls="collapse12">
                            <span class="dark font18 weight400">Do I need to download any application to use a USSD code?</span>
                        </button>
                    </h2>
                    <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            There’s no need for you to download an application. You can access USSD services by dialing *789# and a session will commence.       
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading13">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse13" aria-expanded="true" aria-controls="collapse13">
                            <span class="dark font18 weight400">Why should I use *789#?</span>
                        </button>
                    </h2>
                    <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            - It is quick and simple to memorise <br>

                            - Does not require an internet connection <br>

                            - Works across all mobile devices i.e smartphones, tablets and feature phone <br>

                            - Service is available to use on MTN, Vodafone and Airtel networks <br>

                            - No need to install any application on a mobile phone to use the service.   
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading14">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse14" aria-expanded="true" aria-controls="collapse14">
                            <span class="dark font18 weight400">What are the services available on the USSD?</span>
                        </button>
                    </h2>
                    <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            The USSD code menu allows you to make deposit, withdraw from your account and check your balance.  
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading15">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse15" aria-expanded="true" aria-controls="collapse15">
                            <span class="dark font18 weight400">Do I need to subscribe to Cross Switch Ghana to use *789#?</span>
                        </button>
                    </h2>
                    <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            You don’t need a subscription to use *789#. The service is available for everyone as long as they have a mobile device and are within the boundaries of Ghana
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading16">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse16" aria-expanded="true" aria-controls="collapse16">
                            <span class="dark font18 weight400">How can I pay through *789#?</span>
                        </button>
                    </h2>
                    <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            You can use mobile money to pay for the services under the *789# menu. Once a request is made, wait for a pop-up message from your mobile money service provider, enter your pin to approve the payment. The service is currently supported by MTN, Vodafone and Airtel networks
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading17">
                        <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse17" aria-expanded="true" aria-controls="collapse17">
                            <span class="dark font18 weight400">Will I be charged for using the *789# USS?</span>
                        </button>
                    </h2>
                    <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body d-text dark font18 weight300 accord">
                            All interactions on *789# are entirely free. You will only be charged for requests and orders made through the code.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
      <!-- <div id="info-utile" class=" py-3 col-lg-3 footer-style px-5 h-100">
        <h3 class="font18 pale-red text-decoration-underline-lg pb-5 pt-3">Frequently Asked Questions <fa-icon [icon]="arrow"></fa-icon>  </h3>
        <div class="">      
            <h3 class="d-text mb-3 text-white">TOPICS </h3>      
            <div class="text-wrap">
                <h3 class="font18 pb-4 light-blue"> Collect Payment </h3>
                <h3 class="font18 pb-4 light-blue"> Collect Payment </h3>
                <h3 class="font18 pb-4 light-blue"> Collect Payment </h3>
                <h3 class="font18 pb-4 light-blue"> Collect Payment </h3>
                <h3 class="font18 light-blue"> Collect Payment </h3>
            </div>
        </div>
    </div> -->
    </div>
  </section>  


    <!-- """"""""""""""""""""""""""""""""""""""" What We Provide """""""""""""""""""""""""""""""""""" -->
    <section class="">
        <div class=" container py-14 py-md-5">
            <div class="footer-style py-10">
                <div class="row">
                    <div class=" px-lg-10 py-lg-10 p-5">
                        <h2 class="font24 text-uppercase mb-3 px-3 primary violet-line">WHAT WE PROVIDE</h2>
                        <h3 class="font40 text-white">Our products are built to power merchants </h3>
                    </div>
                </div>

               <app-products></app-products>
            </div>
        </div>
    </section>

    
  <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
  <app-create-account></app-create-account>

</main>
