<main class="wrapper background">

    <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
    <section class="bg-soft-primary py-5 hero-style position-relative">
        
        <div class="container all pt-3 pb-3 pt-md-5 pb-md-5 pt-lg-5 my-5">
            <div class="d-flex justify-content-center mb-3 pb-lg-5">
                <select class="form-select mb-3 w-auto py-2 bg-transparent  border-box select secondary">
                    <option selected> GHANA</option>
                </select>
            </div>

            <div class="col-lg-9 col-xl-8 col-xxl-7 mx-2">
                <h2 class="font24 text-uppercase mb-5 px-3 primary weight700 violet-line">INTEGRATIONS</h2>
            </div>
            <div class="col-lg-10 gx-lg-8 gx-xl-12 gy-10 gy-lg-0 mx-1">
                <h3 class="font72 weight700 dark">Integrate powerful tools and products into your business with <span class="primary">Cross Switch.</span></h3>
            </div>
        </div>
    </section>

    <!--"""""""""""""""""""""""""""""""""""""""" overlay divs for integration """"""""""""""""""""""""""""""""""""""""""-->
    <section class="wrapper bg-gradient-primary">
      <div class="container all ">
        <div class="position-relative">
          <!-- /.row -->
          <div class="position-relative">
            <div class="row grid-view gy-6 gy-xl-0">
                
                <div class="col-md-6 col-xl-4 mb-lg-5">
                    <div class="card shadow-lg dark-border px-4">
                      <div class="card-body col-lg-11">
                        <img class=" w-25 mb-5" src="./assets/img/brands/shopify.png" alt="" />
                        <h4 class="mb-lg-10 mb-5 weight700 font32 secondary">Shopify</h4>
                        <p class="mb-10 mb-5 secondary short-text">Create the complete shopping experience from website to checkout integration.</p>
                        <div>
                            <p class="mb-5"><a class="secondary">Learn More <span class="border px-4 py-1" style="border-radius: 16px;"> <fa-icon [icon]="arrow"></fa-icon></span>  </a></p>
                        </div>
                      </div>
                    </div>
                  </div>

              <div class="col-md-6 col-xl-4 mb-lg-5">
                <div class="card shadow-lg dark-border px-4">
                  <div class="card-body col-lg-11">
                    <img class=" w-25 mb-5" src="./assets/img/brands/shopify.png" alt="" />
                    <h4 class="mb-lg-10 mb-5 weight700 font32 secondary">Shopify</h4>
                    <p class="mb-10 mb-5 secondary short-text">Create the complete shopping experience from website to checkout integration.</p>
                    <div>
                        <p class="mb-5"><a class="secondary">Learn More <span class="border px-4 py-1" style="border-radius: 16px;"> <fa-icon [icon]="arrow"></fa-icon></span>  </a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-xl-4 mb-lg-5">
                <div class="card shadow-lg dark-border px-4">
                  <div class="card-body col-lg-11">
                    <img class=" w-25 mb-5" src="./assets/img/brands/shopify.png" alt="" />
                    <h4 class="mb-lg-10 mb-5 weight700 font32 weight700 secondary">Shopify</h4>
                    <p class="mb-10 mb-5 secondary short-text">Create the complete shopping experience from website to checkout integration.</p>
                    <div>
                        <p class="mb-5"><a class="secondary">Learn More <span class="border px-4 py-1" style="border-radius: 16px;"> <fa-icon [icon]="arrow"></fa-icon></span>  </a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-xl-4 mb-lg-14">
                <div class="card shadow-lg dark-border px-4">
                  <div class="card-body col-lg-11">
                    <img class=" w-25 mb-5" src="./assets/img/brands/shopify.png" alt="" />
                    <h4 class="mb-lg-10 mb-5 font32 weight700 secondary">Shopify</h4>
                    <p class="mb-10 mb-5 secondary short-text">Create the complete shopping experience from website to checkout integration.</p>
                    <div>
                        <p class="mb-5"><a class="secondary">Learn More <span class="border px-4 py-1" style="border-radius: 16px;"> <fa-icon [icon]="arrow"></fa-icon></span>  </a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-xl-4 mb-lg-14">
                <div class="card shadow-lg dark-border px-4">
                  <div class="card-body col-lg-11">
                    <img class=" w-25 mb-5" src="./assets/img/brands/shopify.png" alt="" />
                    <h4 class="mb-lg-10 mb-5 font32 weight700 secondary">Shopify</h4>
                    <p class="mb-10 mb-5 secondary short-text">Create the complete shopping experience from website to checkout integration.</p>
                    <div>
                        <p class="mb-5"><a class="secondary">Learn More <span class="border px-4 py-1" style="border-radius: 16px;"> <fa-icon [icon]="arrow"></fa-icon></span>  </a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-xl-4 mb-lg-14">
                <div class="card shadow-lg dark-border px-4">
                  <div class="card-body col-lg-11">
                    <img class=" w-25 mb-5" src="./assets/img/brands/shopify.png" alt="" />
                    <h4 class="mb-lg-10 mb-5 font32 weight700 secondary">Shopify</h4>
                    <p class="mb-10 mb-5 secondary short-text">Create the complete shopping experience from website to checkout integration.</p>
                    <div>
                        <p class="mb-5"><a class="secondary">Learn More <span class="border px-4 py-1" style="border-radius: 16px;"> <fa-icon [icon]="arrow"></fa-icon></span>  </a></p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- """"""""""""""""""""""""""""""""""""""" What We Provide """""""""""""""""""""""""""""""""""" -->
  <section class="">
    <div class=" container py-14 py-md-5">
        <div class="footer-style py-10">
            <div class="row">
                <div class=" px-lg-10 py-lg-10 p-5">
                    <h2 class="font24 text-uppercase mb-3 px-3 primary violet-line">WHAT WE PROVIDE</h2>
                    <h3 class="font40 text-white">Our products are built to power merchants </h3>
                </div>
            </div>

            <!-- <app-products></app-products> -->
        </div>
    </div>
</section>

 
     <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
     <!-- <app-create-account></app-create-account>  -->

</main>