<main class="wrapper background" id="wrapper" style="padding-bottom: 100px">

    <!-- """"""""""""""""""""""""""""""""""""""" FORMS """""""""""""""""""""""""""""""""""" -->
    <section class="text-center">
       <div class="my-5">
        <img class="w-25" src="assets/img/error.png" alt=""><br><br>
        <p class="dark weight500 font18">404 Error</p>
        <a [routerLink]="['/']"  class="primary font18 weight500">Take me back to home  <span class=" px-2 py-1 "> <fa-icon [icon]="arrow"></fa-icon> </span> </a>
       </div>
    </section>

</main>