<main class="wrapper background bg-light">

    <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
    <section class="bg-soft-primary py-5 hero-style">
        <div class="container all " style="padding-top: 100px; padding-bottom: 50px;">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7 mx-auto">
                  <h3 class="font40 weight700 secondary mb-2 px-lg-12 text-center">USSD PLUGIN</h3>
                  <h3 class="font40 weight700 secondary mb-4 px-lg-12 text-center">BY HARMONY LIMITED</h3>
                  <h3 class="font24 weight400 dark mb-5 px-lg-5 text-center">Open-source Ussd Plugin made to support multiple Ussd Platform in Africa</h3>
                </div>
                <!-- /column -->
              </div>

              <div class="d-flex justify-content-center">
                <div class="col-lg-6 p-lg-12 p-4 bg shadow-lg">
                    <form>
                        <div class="row p-lg-5 p-0">
                            <div class="form-group col-lg-6 mb-5">
                              <input type="text" class="form-control py-4"  placeholder="First Name *" autocomplete="off">
                            </div>
                            <div class="form-group col-lg-6 mb-5">
                              <input type="text" class="form-control py-4"  placeholder="Last Name *" autocomplete="off">
                            </div> 
                            <div class="form-group col-lg-12 mb-5">
                              <input type="email" class="form-control py-4"  placeholder="Email Address*" autocomplete="off">
                            </div> 
                            <div class="form-group col-lg-12 mb-5">
                              <input type="tel" class="form-control py-4"  placeholder="Phone Number *" autocomplete="off">
                            </div>
                            <div class="form-select-wrapper mb-5">
                                <div class="input-group mb-2 border">
                                    <button class="btn dropdown-toggle  px-4 weight400 levy-font group-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">GHS</button>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item">USD</a></li>
                                      <li><a class="dropdown-item">CFA</a></li>
                                    </ul>
                                    <input type="number" class="form-control py-4 border-0" placeholder="20">
                                  </div>
                            </div>
                            <div class="form-group col-lg-12 mb-5">
                              <input type="text" class="form-control py-4"  placeholder="Reference *" autocomplete="off">
                            </div>
                            <div class="mb-4">
                                <button class="btn btn-block w-100 py-4 border-0  pay text-white">Pay GHS 250</button>
                            </div>
                           <div class="text-center">
                            <img style="width: 25px" class="mx-2" src="assets/img/product-icons/key.png" alt=""> <span class="font16 weight600 secondary">Secured by Cross</span><span class="primary font16 weight600"> Switch</span>
                           </div>
                        </div>
                      </form>
                    <!-- /form -->
                  </div>
              </div><br>
        </div>
    </section> <br><br><br><br>


    
   <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
   <app-create-account></app-create-account> 

</main>
