<main class="wrapper background bg-light">

    <!-- """""""""""""""""""""""""""""""""""""" Hero section """""""""""""""""""""""""""""""""""""""""""" -->
    <section class="bg-soft-primary py-5">
        <div class="container all pt-5">
            <div class="row mb-5 py-4 align-items-center justify-content-between">

                <div  class="col-md-12 col-lg-5 text-lg-end text-center order-lg-2 pt-0 pt-lg-5 mb-5 mb-lg-0">
                    <figure><img class="img-fluid hero-img" src="./assets/img/photos/banking-bg.png" alt="" /></figure>
                </div>

                <div class="col-lg-7 order-2 order-lg-0">
                    <h2 class="font24 weight700 text-uppercase mb-3 px-3 primary blue-line">PAYOUTS</h2>
                    <h1  class="font72 secondary weight700 mb-5 pt-4" style="-webkit-text-stroke-width: 1px;">Send single or bulk money transfers</h1>
                    <h2 class="mb-5 pb-lg-4 pb-1 text-start secondary font18 lh-sm mb-7 px-md-10 px-lg-0">Send single or bulk money transfers to bank accounts and mobile money wallets at the click of a button</h2>

                    <div  class="py-0 py-lg-5 py-md-2 mt-0 mt-lg-5 d-flex align-items-center justify-content-start"
                        data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
                        <span> <a [routerLink]="['/auth/signup']" class="btn primary-bg text-white weight600 border-radius py-3 px-5 levy-font scrollto d-lg-flex">Get Started</a> </span>
                        <span class="mx-4"><a [routerLink]="['/company/sales']" class="mx-1 primary font18" style="font-weight: 700" href="">Contact Sales <span class=" px-2 py-1 d-none d-md-inline">
                                    <fa-icon [icon]="arrow"></fa-icon>
                                </span></a> </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

           <!-- ######################################## PARTNERS ################################################## -->
   <section class="hero-style my-5">
    <div class="container all">
        <div class="row justify-content-center gx-lg-8 gx-xl-12 gy-10 gy-lg-0 py-2">
          <div class=" mt-lg-2">
            <h3 class="text-center secondary mb-5 pe-xxl-5 weight700 font40">Partners</h3>
          </div>
          <div class="col-lg-12 text-center">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6" uk-scrollspy="cls: uk-animation-fade; target: .clients; delay: 100;">
                <div class="col">
                    <img class="mb-5 brand clients" src="./assets/img/brands/c1.png" alt="" />
                </div>
                <div class="col">
                    <img class="mb-5 brand clients" src="./assets/img/brands/c2.png" alt="" />
                </div>
                <div class="col">
                    <img class="mb-5 brand clients" src="./assets/img/brands/c3.png" alt="" />
                </div>
                <div class="col">
                    <img class="mb-5 brand clients" src="./assets/img/brands/c4.png" alt="" />
                </div>
                <div class="col">
                    <img class="mb-5 brand clients" src="./assets/img/brands/c5.png" alt="" />
                </div>
                <div class="col">
                    <img class="mb-5 brand clients" src="./assets/img/brands/c6.png" alt="" />
                </div>
            </div>
          </div>
        </div>
      </div>
  </section>  <br><br> <br><br><br><br>

 <!-- """""""""""""""""""""""""""""" COlLECT PAYMENT """"""""""""""""""""""""""""-->
 <section class="container footer-style">
    <div class="all">
        <div class="row pt-5">
            <div class="px-lg-4 px-md-4 px-2">
                <div class=" mb-4">
                    <div class="d-flex flex-row align-items-center">
                        <div>
                            <span class=""><img
                                    style="width: 50px"
                                    src="./assets/img/product-icons/transfer.png" alt=""></span>
                        </div>
                        <div class=" text-wrap mx-3">
                            <h6 class="mb-0 font24 primary"> TRANSFER</h6>
                        </div>
                    </div>
                </div>

                <h3 class="font40 mb-9 text-white weight700">Process payouts with our APIs and software solutions</h3>
            </div>
        </div> <br><br><br>
        <div class="px-2" >
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                    <div class="box p-5 card border-0 h-100" >
                        <p class=" pt-5 px-2 weight700 font32 secondary h-50">Recurring Transfers </p>
                        <p class="py-5 font18 weight400 secondary">Make recurring payouts easy. Automate recurring transfers for your business</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                    <div class="box p-5 card border-0 h-100" >
                        <p class=" pt-5 px-2 weight700 font32 secondary h-50">Bulk Transfers</p>
                        <p class="pb-5 pt-4 font18 weight400 secondary">Make bulk transfers to individuals or group easy with a few clicks </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-3 px-lg-4 px-md-4 px-2">
                    <div class="box p-5 card border-0 h-100" >
                        <p class=" pt-5 weight700 font32 secondary h-50">Secured solutions for your business</p>
                        <p class="py-5 font18 weight400 secondary">Enjoy a secure payments system that protects your money and data from fraud as you grow revenue. </p>
                    </div>
                </div>
            </div> <br><br>
            <div class="d-flex flex-lg-row flex-md-row flex-column align-items-center justify-content-between px-lg-4 px-2 mx-lg-3 mx-md-3 px-2 py-1 pb-5 pt-5 deep-blue rounded mt-2">
                <div>
                    <h6 class="font72 dark">Pricing</h6>
                    <span class="dark">Know what you’ll pay</span>
                </div>
                <span><a [routerLink]="['/pricing']" class="mx-1 font18 primary" style="font-weight: 700">Pricing Details <span class=" px-2 py-1"> <fa-icon [icon]="arrow"></fa-icon></span></a> </span>
            </div> <br><br>
        </div>
    </div>
</section><br><br> <br><br><br><br>

  <!-- """"""""""""""""""""""""""""""""""""""""" COLLECT PAYMENT """"""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
  <section class="my-5" style=" background-image: url(./assets/img/photos/gray.png);">
    <div class="container all py-2 pt-md-5 pt-lg-5">
        <div class=" row justify-content-between align-items-center mb-15">
              <div class="col-md-12 col-lg-5 text-center order-lg-0 mb-5 mb-lg-0"data-aos="fade">
              <figure><img class="img-fluid hero-img" src="./assets/img/photos/dashboard.png" alt="" /></figure>
          </div>
            <div class="col-lg-5 ">
                <div class="mb-5">
                    <div>
                      <span class="icon btn btn-block light-bg pe-none me-5 px-3 mb-3"><span class="number font24 weight700">1</span></span>
                    </div>
                    <div>
                      <h4 class="mb-2 font40 dark weight700">Create an account</h4>
                      <p class="mb-0 font18 dark weight400">Create an account with us if you're a new user or login if you're already registered.</p>
                    </div>
                  </div>
                  <div class="mb-5">
                    <div>
                        <span class="icon btn btn-block light-bg pe-none me-5 px-3 mb-3"><span class="number font24 weight700">2</span></span>
                    </div>
                    <div>
                      <h4 class="mb-2 font40 dark weight700">Set up details on dashboard</h4>
                      <p class="mb-0 font18 dark weight400">Set-up your payout and leave the rest to us</p>
                    </div>
                  </div>
                  <div class="mb-lg-0 mb-5">
                    <div>
                        <span class="icon btn btn-block light-bg me-5 px-3 mb-3"><span class="number font24 weight700">3</span></span>
                    </div>
                    <div>
                      <h4 class="mb-2 font40 dark weight700">Payment made</h4>
                      <p class="mb-4 font18 dark weight400">Your receiver receives payment within seconds</p>
                    </div>
                  </div>
                  <div class="d-flex  align-items-center justify-content-lg-start pt-lg-5" data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
                    <span> <a [routerLink]="['/auth/signup']" class="btn btn-lg levy-font weight600 text-white red py-3 px-4">Get Started</a> </span>
                    <span class="mx-4"><a [routerLink]="['/company/sales']" class="mx-1 font18 primary" style="font-weight: 700"> Contact Sales <span class=" px-2 py-1"> <fa-icon [icon]="arrow"></fa-icon></span></a>          </span>
                  </div> <br><br><br>
            </div>
        </div>

      </div>
</section>


    <!-- """"""""""""""""""""""""""""""""""""""" Developer Friendly """""""""""""""""""""""""""""""""""" -->
    <app-develop-friendly></app-develop-friendly>



    <!-- """"""""""""""""""""""""""""""""""""""" What We Provide """""""""""""""""""""""""""""""""""" -->
    <section class="">
        <div class=" container py-14 py-md-5">
            <div class="footer-style py-10">
                <div class="row">
                    <div class=" px-lg-10 py-lg-10 p-5">
                        <h2 class="font24 text-uppercase mb-3 px-3 primary violet-line">WHAT WE PROVIDE</h2>
                        <h3 class="font40 text-white">Products built with high positive ROI for merchants</h3>
                    </div>
                </div>

               <app-products></app-products>
            </div>
        </div>
    </section>

    <!-- """"""""""""""""""""""""""""""""""""""" Ready to get started """""""""""""""""""""""""""""""""""" -->
    <app-create-account></app-create-account>

</main>